<% if @logged_user.company.has_logo? %>
<div class="sidebarBlock">
  <div class="cardIcon"><img src="<%= @logged_user.company.logo.url %>" alt="<%= h @logged_user.company.name %> logo" /></div>
</div>
<% end %>

<% unless @online_users.empty? %>
<div class="sidebarBlock">
  <h2><%= t('online_users') %></h2>
  <div class="blockContent">
    <p><%= t('users_active_in_last_n_minutes', :number => 15) %></p>
    <ul>
<% @online_users.each do |user| -%>
<% if can? :show, user %>
      <li><%= link_to (h user.display_name), user_path(:id => user.id) %> <span class="desc">(<%= h user.company.name %>)</span></li>
<% end %>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% unless @my_projects.empty? %>
<div class="sidebarBlock">
  <h2><%= t('my_projects') %></h2>
  <div class="blockContent">
    <ul>
<% @my_projects.each do |project| -%>
      <li><%= link_to h(project.name), project_path(:id => project.id) %></li>
<% end %>
    </ul>
    <p><%= link_to t('my_projects_sidebar_link'), :controller => 'dashboard', :action => 'my_projects' %></p>
  </div>
</div>
<% end %>

<div class="sidebarBlock">
  <h2><%= t('update_feeds') %></h2>
  <div class="blockContent">
    <ul id="listOfRssFeeds">
      <li><a href="<%= @logged_user.recent_activity_feed_url(nil, 'rss') %>"><%= t('recent_activities') %></a></li>
    </ul>
  </div>
</div>
