<% unless @active_projects.empty? %>
<div class="sidebarBlock">
  <h2><%= t('active_projects') %></h2>
  <div class="blockContent">
    <ul>
<% @active_projects.each do |project| -%>
      <li><%= link_to (h project.name), project_path(:id => project.id) %></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% unless @finished_projects.empty? %>
<div class="sidebarBlock">
  <h2><%= t('finished_projects') %></h2>
  <div class="blockContent">
    <p><%= t('archived_projects_list_info') %></p>
    <ul class="listWithDetails">
<% @finished_projects.each do |project| -%>
      <li>
      	<%= link_to (h project.name), project_path(:id => project.id) %><br />
        <span class="desc">(<%= t('project_completed_time_with_user', 
                    :time => format_usertime(project.completed_on, :project_completed_time_format),
                    :user => link_to(h(project.completed_by.display_name), user_path(:id => project.completed_by.id))
        )%>)</span>
      </li>
<% end %>
    </ul>
  </div>
</div>
<% end %>
