<%
  if @logged_user.is_admin?
      @page_actions = [{:title => :add_project, :url=> new_project_path}]
  end
%>
<% if @logged_user.member_of_owner? and !Company.owner.hide_welcome_info %>
<div class="hint" id="new_account_info">

  <div class="header"><%= t('welcome_to_new_account') %></div>
  <div class="content"><%= t('welcome_to_new_account_info', :user => h(@logged_user.display_name), :url => "<a href=\"#{Rails.configuration.site_url}\">#{Rails.configuration.site_url}</a>").html_safe %></div>
  
   <% new_account_steps(@logged_user).each do |step| %>
    <div class='header'><%= raw step[:del] ? "<del>#{step[:title]}</del>" : "#{step[:title]}" %></div>
    <div class='content'><%= raw step[:del] ? "<del>#{step[:content]}</del>" : "#{step[:content]}" %></div>
   <% end %>
  <% if @logged_user.is_admin %>
  <p><%= link_to t('hide_welcome_info').html_safe, hide_welcome_info_company_path(Company.owner), :method => 'put' %></p>
  <% end %>
</div>
<% end %>

<% if @late_milestones.length > 0 or !@calendar_milestones.empty? %>
<div id="lateOrTodayMilestones" class="block">
  <div class="header"><%= t('milestones_summary', :adjetives => [!@late_milestones.empty? ? t('late') : nil,
                           !@calendar_milestones.empty? ? t('upcoming') : nil].compact.to_sentence) %></div>
<% if @late_milestones.length > 0 %>
  <h2><%= t('late_milestones') %></h2>
  <ul>
<% @late_milestones.each do |milestone| %>
    <li><% unless milestone.assigned_to.nil? %><%= h milestone.assigned_to.object_name %>: <% end %><%= t('milestone_in', :milestone => link_to(h(milestone.name), milestone_path(:id => milestone.id, :active_project => milestone.project)), :project => link_to(h(milestone.project.name), project_path(:id => milestone.project.id))).html_safe %> (<span class="error"><%= t('milestone_days_late', :days => milestone.days_late) %></span>)</li>
<% end %>
  </ul>
<% end %>

<% unless @calendar_milestones.empty? %>
  <h2><%= t('due_in_next_n_days', :num => 14) %></h2>
  <%= now = @time_now.to_date
      prev_month = now.month
      days_calendar now, now + 13.days, 'dayCal' do |date|
        if date == now
          calendar_block(t('today'), @calendar_milestones["#{date.month}-#{date.day}"], 'today', true) 
        else
          if date.month != prev_month 
            prev_month = date.month
            calendar_block(l(date, :format => '%b %d'), @calendar_milestones["#{date.month}-#{date.day}"], 'day')
          else
            calendar_block(date.day, @calendar_milestones["#{date.month}-#{date.day}"], 'day') 
          end
        end
      end %>
<% end %>

</div>
<% end %>

<% cache "user#{@logged_user.id}_dblog" do %>
<% if @activity_log.length > 0 %>
<table class="applicationLogs blank">
  <tr>
    <th></th>
    <th><%= t('details') %></th>
    <th class="right"><%= t('project') %></th>
	<%= render :partial => 'layouts/application_logs', :collection => @activity_log, :locals => {:show_project_column => true} %>
</table>
<% else %>
<%= t('no_recent_activities') %>
<% end %>
<% end %>
