- if @projects_milestonestasks.length > 0
  #myTasks
    - @projects_milestonestasks.each do |project|
      - if project[:milestones].length > 0 or project[:tasks].length > 0
        .block
          .header
            %h2= link_to (h project[:name]), project_path(id: project[:id])
          .content
            - if project[:milestones].length > 0
              %p
                = link_to t('milestones'), project_milestones_path(project[:milestones][0].project)
                \:
              %table.blank
                - project[:milestones].each do |milestone|
                  %tr
                    %td.milestoneCheckbox= checkbox_link complete_project_milestone_path(milestone.project, milestone), false, nil, {data: { turbo_method: :put }}
                    %td.milestoneText
                      - if not milestone.assigned_to.nil?
                        %span.assignedTo
                          = h milestone.assigned_to.object_name
                          \:
                      - else
                        %span.assignedTo
                          = t('anyone')
                          \:
                      = link_to (h milestone.name), project_milestone_path(milestone.project, milestone)
                      \-
                      - if milestone.is_upcoming?
                        %span= t('milestone_days_left', days: milestone.days_left)
                      - elsif milestone.is_late?
                        %span.error= t('milestone_days_late', days: milestone.days_late)
                      - elsif milestone.is_today?
                        %span= t('today')
            - if project[:tasks].length > 0
              %p
                = link_to t('tasks'), project_task_lists_path(project[:tasks][0].project)
                \:
              %table.blank
                - project[:tasks].each do |task|
                  %tr
                    %td.taskCheckbox
                      %input.checkbox.completion{type: "checkbox"}/
                      - if task.is_completed?
                        checked="true"
                      \/&gt;
                      \#{link_to '', status_project_task_list_task_path(task.task_list.project, task.task_list, task)}
                    %td.taskText
                      - if not task.assigned_to.nil?
                        %span.assignedTo
                          = h task.assigned_to.object_name
                          \:
                      - else
                        %span.assignedTo
                          = t('anyone')
                          \:
                      = h task.text
                      - if not task.task_list.nil?
                        = t('tasks_in_list', list: link_to(h(task.task_list.name), project_task_list_path(task.task_list.project, task.task_list)))
- else
  %p= t('no_active_projects')
- if not @has_assigned_tasks
  %p= t('no_tasks_assigned_to_you')
