<% if @projects_milestonestasks.length > 0 %>
<div id="myTasks">
<% @projects_milestonestasks.each do |project| -%>
<% if project[:milestones].length > 0 or project[:tasks].length > 0 %>
  <div class="block">
    <div class="header"><h2><%= link_to (h project[:name]), project_path(:id => project[:id]) %></h2></div>
    <div class="content">
<% if project[:milestones].length > 0 %>
      <p><%= link_to t('milestones'), milestones_path(:active_project => project[:id]) %>:</p>
      <table class="blank">
<% project[:milestones].each do |milestone| -%>
        <tr>
          <td class="milestoneCheckbox"><%= checkbox_link complete_milestone_path(:id => milestone.id, :active_project => milestone.project_id), false, nil, {:method => :put} %></td>
          <td class="milestoneText">
<% if not milestone.assigned_to.nil? %>
            <span class="assignedTo"><%= h milestone.assigned_to.object_name %>:</span> 
<% else %>
            <span class="assignedTo"><%= t('anyone') %>:</span> 
<% end %>
            <%= link_to (h milestone.name), milestone_path(:id => milestone.id, :active_project => project[:id]) %> - 
<% if milestone.is_upcoming? %>
            <span><%= t('milestone_days_left', :days => milestone.days_left) %></span>
<% elsif milestone.is_late? %>
            <span class="error"><%= t('milestone_days_late', :days => milestone.days_late) %></span>
<% elsif milestone.is_today? %>
            <span><%= t('today') %></span>
<% end %>
          </td>
        </tr>
<% end %>
      </table>
<% end %>

<% if project[:tasks].length > 0 %>
      <p><%= link_to t('tasks'), task_lists_path(:active_project => project[:id]) %>:</p>
      <table class="blank">
<% project[:tasks].each do |task| -%>
        <tr>
          <td class="taskCheckbox">
            <input class="checkbox completion" type="checkbox" <% if task.is_completed? %>checked="true"<% end %>/>
            <%= link_to '', status_task_path(:task_list_id => task.task_list_id, :id => task.id, :active_project => project[:id]) %>
          </td>
          <td class="taskText">
<% if not task.assigned_to.nil? %>
            <span class="assignedTo"><%= h task.assigned_to.object_name  %>:</span>
<% else %>
            <span class="assignedTo"><%= t('anyone') %>:</span>
<% end %>
            <%= h task.text %> 
<% if not task.task_list.nil? %>
            (<%= t('tasks_in_list', :list => link_to(h(task.task_list.name), task_list_path(:id => task.task_list_id, :active_project => project[:id]))) %>)
<% end %>
          </td>
        </tr>
<% end %>
      </table>
<% end %>
    </div>
  </div>
<% end %>

<% end %>
</div>
<% else %>
<p><%= t('no_active_projects') %></p>
<% end  %>

<% if not @has_assigned_tasks %>
<p><%= t('no_tasks_assigned_to_you') %></p>
<% end %>
