#searchForm
  = form_with(url: url_for(controller: dashboard, action: 'search')) do |form|
    = text_field_tag 'search_id', @last_search
    %button.submit{type: "submit"}= t('search')

- if !@search_results.empty?
  %p= t('search_displaying_results_for', {start: @start_search_results, finish: @start_search_results+@search_results.length, total: @total_search_results, search: h(@current_search)})
  %ul
    - @search_results.each do |obj|
      %li= t('search_dashboard', type: t(obj.class.to_s), name: link_to(obj.object_name, obj.object_url), project: link_to(obj.project.object_name, obj.project.object_url)) |
  #searchPagination
    = pagination_links  "/dashboard/search?search_id=#{CGI::escape(@last_search)}&", @pagination unless @pagination.length <= 1
- elsif !@current_search.nil?
  %p= t('search_no_matching_objects', {search: h(@current_search)})
