= error_messages_for :message
- json_data = @active_project.companies.map { |company| ["company_#{company.id}", "users": company.users_on_project(@active_project).map(&:id)] }.to_h
- content_for :page_head do
  %meta{content: "#{h(json_data.to_json)}", name: "permissions-form-items"}/
  %meta{content: "#{@logged_user.company.id}", name: "notify-form-company"}/
%div
  %label{for: "messageFormTitle"}
    = t('title')
    \:
    %span.label_required *
  = form.text_field 'title', id: 'messageFormTitle', class: 'title'
%div
  %label{for: "messageFormText"}
    = t('text')
    \:
    %span.label_required *
  = form.text_area 'text', id: 'messageFormText', class: 'editor'
%fieldset
  %legend= t('milestone')
  = form.select 'milestone_id', select_milestone_options(@active_project), {}, {class: 'select_milestone', id: 'messageFormMilestone'}
%fieldset
  %legend= t('category')
  = form.select 'category_id', Category.select_list(@active_project), {}, {class: 'select_milestone', id: 'messageFormCategory'}
- if @logged_user.member_of_owner?
  %fieldset
    %legend= t('options')
    .objectOption
      .optionLabel
        %label
          = t('private_message')
          \:
      .optionControl= form.check_box 'is_private', class: 'yes_no', id: 'messageFormIsPrivate'
      .optionDesc= t('private_message_info')
    .objectOption
      .optionLabel
        %label
          = t('important_message')
          \:
      .optionControl= form.check_box 'is_important', class: 'yes_no', id: 'messageFormIsImportant'
      .optionDesc= t('important_message_info')
    .objectOption
      .optionLabel
        %label
          = t('enable_comments')
          \:
      .optionControl= form.check_box 'comments_enabled', class: 'yes_no', id: 'messageFormEnableComments'
      .optionDesc= t('enable_comments_info')
    - if Rails.configuration.railscollab.allow_anonymous
      .objectOption
        .optionLabel
          %label
            = t('enable_anonymous_comments')
            \:
        .optionControl= form.check_box 'anonymous_comments_enabled', class: 'yes_no', id: 'messageFormEnableAnonymousComments'
        .optionDesc= t('enable_anonymous_comments_info')
%fieldset
  %legend= t('tags')
  = text_field 'tags', id: 'messageFormTags', class: 'long'
  %br/
  %span.desc= t('tags_info')
- if @message.new_record?
  %fieldset#emailNotification
    %legend= t('email_notification')
    %p= t('email_notification_info')
    - @active_project.companies.each do |company|
      - users_on_project = company.users_on_project(@active_project)
      .companyDetails
        .companyName
          = check_box_tag "notify_company[]", "#{company.id}", false, {id: "notifyCompany#{company.id}", class: 'checkbox', onclick: "notify_form_select_company(#{company.id})"}
          %label.checkbox{for: "notifyCompany#{company.id}"}= h company.name
        .companyMembers
          %ul
            - users_on_project.each do |user|
              %li
                = check_box_tag "notify_user[]", "#{user.id}", false, {id: "notifyUser#{user.id}", class: 'checkbox', onclick: "notify_form_select(#{company.id}, #{user.id})"}
                %label.checkbox{for: "notifyUser#{user.id}"}= h user.display_name
- if can? :create_file, @active_project
  = render partial: 'files/attach_file'
- if can? :create_file, @active_project
  - content_for :page_head do
    %meta{content: Rails.configuration.railscollab.max_attachments, name: "file-attachment-limit"}/
