<%= error_messages_for :message %>

 <div>
    <label for="messageFormTitle"><%= t('title') %>: <span class="label_required">*</span></label>
    <%= text_field 'message', 'title', :id => 'messageFormTitle', :class => 'title' %>
  </div>
  
  <div>
    <label for="messageFormText"><%= t('text') %>: <span class="label_required">*</span></label>
    <%= text_area 'message', 'text', :id => 'messageFormText', :class => 'editor' %>
  </div>
  
  <fieldset>
    <legend><%= t('milestone') %></legend>
    <%= select 'message', 'milestone_id', select_milestone_options(@active_project), {}, {:class => 'select_milestone', :id => 'messageFormMilestone'} %>
  </fieldset>

  <fieldset>
    <legend><%= t('category') %></legend>
    <%= select 'message', 'category_id', Category.select_list(@active_project), {}, {:class => 'select_milestone', :id => 'messageFormCategory'} %>
  </fieldset>
    
<% if @logged_user.member_of_owner? %>
  <fieldset>
    <legend><%= t('options') %></legend>
    
    <div class="objectOption">
      <div class="optionLabel"><label><%= t('private_message') %>:</label></div>
      <div class="optionControl"><%= yesno_toggle 'message', 'is_private', :class => 'yes_no', :id => 'messageFormIsPrivate' %></div>
      <div class="optionDesc"><%= t('private_message_info') %></div>
    </div>
    
    <div class="objectOption">
      <div class="optionLabel"><label><%= t('important_message') %>:</label></div>
      <div class="optionControl"><%= yesno_toggle 'message', 'is_important', :class => 'yes_no', :id => 'messageFormIsImportant' %></div>
      <div class="optionDesc"><%= t('important_message_info') %></div>
    </div>
    
    <div class="objectOption">
    <div class="optionLabel"><label><%= t('enable_comments') %>:</label></div>
    <div class="optionControl"><%= yesno_toggle 'message', 'comments_enabled', :class => 'yes_no', :id => 'messageFormEnableComments' %></div>
    <div class="optionDesc"><%= t('enable_comments_info') %></div>
  </div>

<% if Rails.configuration.allow_anonymous %>    
  <div class="objectOption">
    <div class="optionLabel"><label><%= t('enable_anonymous_comments') %>:</label></div>
    <div class="optionControl"><%= yesno_toggle 'message', 'anonymous_comments_enabled', :class => 'yes_no', :id => 'messageFormEnableAnonymousComments' %></div>
    <div class="optionDesc"><%= t('enable_anonymous_comments_info') %></div>
  </div>
<% end %>
  </fieldset>
<% end %>
  
  <fieldset>
    <legend><%= t('tags') %></legend>
    <%= text_field 'message', 'tags', :id => 'messageFormTags', :class => 'long' %><br /><span class="desc"><%=t('tags_info') %></span>
  </fieldset>
<% if @message.new_record? %>
  <fieldset id="emailNotification">
    <legend><%= t('email_notification') %></legend>
    <p><%= t('email_notification_info') %></p>
<% @active_project.companies.each do |company| -%>
    <script type="text/javascript">
      notify_form_companies.company_<%= company.id %> = {
        id          : <%= company.id %>,
        users       : []
      };
    </script>
<% users_on_project = company.users_on_project(@active_project) %>
   <div class="companyDetails">
      <div class="companyName"><%= check_box_tag "notify_company[]", "#{company.id}", false, {:id => "notifyCompany#{company.id}", :class => 'checkbox', :onclick => "notify_form_select_company(#{company.id})"} %> <label for="<%= "notifyCompany#{company.id}" %>" class="checkbox"><%= h company.name %></label></div> 
      <div class="companyMembers">
        <ul>
<% users_on_project.each do |user| -%>
          <li><%= check_box_tag "notify_user[]", "#{user.id}", false, {:id => "notifyUser#{user.id}", :class => 'checkbox', :onclick => "notify_form_select(#{company.id}, #{user.id})"} %> <label for="<%= "notifyUser#{user.id}" %>" class="checkbox"><%= h user.display_name %></label>
          </li>
          <script type="text/javascript">
            notify_form_companies.company_<%= company.id %>.users.push(<%= user.id %>);
          </script>
<% end %>
        </ul>
      </div>
    </div>
    <script type="text/javascript">
      notify_form_set_company(<%= company.id %>);
    </script>
<% end %>
  </fieldset>
<% end %>
 
<% if can? :create_file, @active_project %>
  <%= render :partial => 'files/attach_file' %>
  <script type="text/javascript">
    file_form_attach_init(<%= Rails.configuration.max_attachments %>);
  </script>
<% end %>
