- json_data = @active_project.companies.map { |company| ["company_#{company.id}", "users": company.users_on_project(@active_project).map(&:id)] }.to_h
- content_for :page_head do
  %meta{content: "#{h(json_data.to_json)}", name: "permissions-form-items"}/
  %meta{content: "#{@logged_user.company.id}", name: "notify-form-company"}/
.form-group.normal
  = form.label :title, t('title'), class: 'required-label'
  = form.text_field 'title', id: 'messageFormTitle', class: 'title'
  = form_field_errors(form, :title)
.form-group.normal
  = form.label :text, t('text'), class: 'required-label'
  = form.text_area 'text', id: 'messageFormText', class: 'editor'
  = form_field_errors(form, :text)
%fieldset
  %legend= t('milestone')
  .form-group.normal
    = form.select 'milestone_id', select_milestone_options(@active_project), {}, {class: 'select_milestone', id: 'messageFormMilestone'}
  = form_field_errors(form, :milestone)
%fieldset
  %legend= t('category')
  .form-group.normal
    = form.select 'category_id', Category.select_list(@active_project), {}, {class: 'select_milestone', id: 'messageFormCategory'}
  = form_field_errors(form, :category)
- if @logged_user.member_of_owner?
  %fieldset
    %legend= t('options')
    .form-group.checkbox
      = form.label :is_private, t('private_message')
      = form.check_box :is_private, class: 'yesno'
      .desc.check= t('private_message_info')
    .form-group.checkbox
      = form.label :is_important, t('important_message')
      = form.check_box :is_important, class: 'yesno'
      .desc.check= t('important_message_info')
    .form-group.checkbox
      = form.label :comments_enabled, t('enable_comments')
      = form.check_box :comments_enabled, class: 'yesno'
      .desc.check= t('enable_comments_info')
%fieldset
  %legend= t('tags')
  = text_field 'tags', id: 'messageFormTags', class: 'long'
  .desc= t('tags_info')
  = form_field_errors(form, :tags)
- if @message.new_record?
  %fieldset#emailNotification
    %legend= t('email_notification')
    %p= t('email_notification_info')
    - @active_project.companies.each do |company|
      - users_on_project = company.users_on_project(@active_project)
      .companyDetails
        .companyName
          = check_box_tag "notify_company[]", "#{company.id}", false, {id: "notifyCompany#{company.id}", class: 'checkbox', onclick: "notify_form_select_company(#{company.id})"}
          %label.checkbox{for: "notifyCompany#{company.id}"}= h company.name
        .companyMembers
          %ul
            - users_on_project.each do |user|
              %li
                = check_box_tag "notify_user[]", "#{user.id}", false, {id: "notifyUser#{user.id}", class: 'checkbox', onclick: "notify_form_select(#{company.id}, #{user.id})"}
                %label.checkbox{for: "notifyUser#{user.id}"}= h user.display_name
- if can? :create_file, @active_project
  = render partial: 'files/attach_file'
- if can? :create_file, @active_project
  - content_for :page_head do
    %meta{content: Rails.configuration.railscollab.max_attachments, name: "file-attachment-limit"}/
