<% if !@important_messages.empty? %>
<div class="sidebarBlock">
  <h2><%= :important_messages.l %></h2>
  <div class="blockContent">
    <ul class="listWithDetails">
<% @important_messages.each do |important_message| -%>
      <li><a href="<%= important_message.object_url %>"><%= h important_message.title %></a><br />
      <span class="desc"><%= :important_messages_comments_count.l_with_args(:count => important_message.comments.length) %></span></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% if !@active_project.project_message_categories.empty? %>
<div class="sidebarBlock">
  <h2><%= :categories.l %></h2>
  <div class="blockContent" id="sidebarMessageCategoryList">
    <ul>
<% if !@category.nil? %>
      <li><%= link_to :all_categories.l, :action => 'index' %></li>
<% else %>
      <li><%= link_to :all_categories.l, {:action => 'index'}, :class => 'selected' %></li>
<% end %>
    
<% @active_project.project_message_categories.each do |category| -%>
<% if !@current_category.nil? and @current_category.id == category.id %>
<% selected_class = {:class => 'selected'} %>
<% else %>
<% selected_class = {} %>
<% end %>
      <li><%= link_to (h category.name), posts_category_path(:id => category.id), selected_class %> 
      <% if category.can_be_edited_by(@logged_user) %><%= link_to render_icon('edit',''), edit_category_path(:id => category.id) %><% end %>
      <% if category.can_be_deleted_by(@logged_user) %><%= link_to render_icon('cancel_gray',''), category_path(:id => category.id), :method => :delete, :confirm => :category_delete_confirmation.l %><% end %>
      </li>
<% end %>
    </ul>
	<% if @active_project.is_active? %>
    <p><a href="<%= new_category_path %>"><%= :add_category.l %></a></p>
	<% end %>
  </div>
</div>
<% end %>