<% if !@important_messages.empty? %>
<div class="sidebarBlock">
  <h2><%= t('important_messages') %></h2>
  <div class="blockContent">
    <ul class="listWithDetails">
<% @important_messages.each do |important_message| -%>
      <li><a href="<%= important_message.object_url %>"><%= h important_message.title %></a><br />
      <span class="desc"><%= t('important_messages_comments_count', :count => important_message.comments.length) %></span></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% if !@active_project.categories.empty? %>
<div class="sidebarBlock">
  <h2><%= t('categories') %></h2>
  <div class="blockContent" id="sidebarMessageCategoryList">
    <ul>
<% if !@category.nil? %>
      <li><%= link_to t('all_categories'), project_messages_path(@active_project) %></li>
<% else %>
      <li><%= link_to t('all_categories'), project_messages_path(@active_project), :class => 'selected' %></li>
<% end %>
    
<% @active_project.categories.each do |category| -%>
<% if !@category.nil? and @category.id == category.id %>
<% selected_class = {:class => 'selected'} %>
<% else %>
<% selected_class = {} %>
<% end %>
      <li><%= link_to (h category.name), posts_project_category_path(@active_project, :id => category.id), selected_class %> 
      <% if can?(:edit,category) %><%= link_to render_icon('edit',''), edit_project_category_path(@active_project, :id => category.id) %><% end %>
      <% if can?(:delete,category) %><%= link_to render_icon('cancel_gray',''), project_category_path(@active_project, :id => category.id), :method => :delete, :confirm => t('category_delete_confirmation') %><% end %>
      </li>
<% end %>
    </ul>
	<% if @active_project.is_active? %>
    <p><a href="<%= new_project_category_path(@active_project) %>"><%= t('add_category') %></a></p>
	<% end %>
  </div>
</div>
<% end %>