<div class="sidebarBlock">
  <h2><%= t('message_subscribers') %></h2>
  <div class="blockContent">
    <p><%= t('message_subscribers_email_notification_info') %></p>
<% if @subscribers.length > 0 %>
    <ul>
<% @subscribers.each do |subscriber| %>
<% if subscriber.id == @logged_user.id %>
      <li><%= link_to (h subscriber.display_name), user_path(:id => subscriber.id) %> (<%= link_to t('message_unsubscribe'), unsubscribe_project_message_path(@message.project, :id => @message.id), {:method => :put, :confirm => t('message_unsubscription_confirmation')} %>)</li>
<% else %>
      <li><%= link_to (h subscriber.display_name), user_path(:id => subscriber.id) %></li>
<% end %>
<% end %>
    </ul>
<% else %>
    <p><%= t('no_subscribers') %></p>
<% end %>
<% if can?(:subscribe, @message) and !@subscribers.include?(@logged_user) %>
    <p><%= link_to t('message_subscribe'), subscribe_project_message_path(@message.project, :id => @message.id), {:method => :put, :confirm => t('message_subscription_confirmation')} %></p>
<% end %>
  </div>
</div>

<% if can? :change_options, @message %>
<div class="sidebarBlock">
  <h2><%= t('options') %></h2>
  <div class="blockContent">
    <%= form_tag project_message_path(@message.project, :id => @message.id), :method => :put %>
      <div class="formBlock">
        <div>
          <label><%= t('private_message') %>:</label>
          <%= yesno_toggle 'message', 'is_private', :class => 'yes_no', :id => 'messageFormIsPrivate' %>
        </div>
        <div>
          <label><%= t('important_message') %>:</label>
          <%= yesno_toggle 'message', 'is_important', :class => 'yes_no', :id => 'messageFormIsImportant' %>
        </div>
        <div>
          <label><%= t('enable_comments') %>:</label>
          <%= yesno_toggle 'message', 'comments_enabled', :class => 'yes_no', :id => 'messageFormEnableComments' %>
        </div>
        
        <div>
          <label><%= t('enable_anonymous_comments') %>:</label>
          <%= yesno_toggle 'message', 'anonymous_comments_enabled', :class => 'yes_no', :id => 'messageFormEnableAnonymousComments' %>
        </div>
      </div>
      <button class="submit" type="submit"><%= t('update_options') %></button>
      <p><%= link_to t('edit_message_sidebar_link').html_safe, edit_project_message_path(@message.project, :id => @message.id) %></p>
    </form>
  </div>
</div>
<% end %>
