<% if not @messages.empty? %>
<div id="messages">
  <div id="messagesPaginationTop">
  <%= pagination_links "#{messages_path(@active_project)}?", @pagination unless @pagination.length <= 1 %>
  </div>
<%= render :partial => (@display_list ? 'messages/show_list' : 'messages/show'),
           :collection => @messages, :locals => {:on_message_page => false} %>
  <div id="messagesPaginationBottom">
  <%= pagination_links "#{messages_path(@active_project)}?", @pagination unless @pagination.length <= 1 %></div>
</div>
<% else %>
<p>
<% if @category.nil? %>
<%= :no_messages_in_project.l %>
<% else %>
<%= :no_messages_in_category.l %>
<% end %>
</p>
<% end %>
