<div class="message">
  <div class="messageDetails">
<% if not @message.created_by.nil? %>
    <div class="messageUserAvatar" style="float:right"><img src="<%= @message.created_by.avatar_url %>" alt="<%= h @message.created_by.display_name %> Avatar" /></div>
    <div class="messageAuthor"><span><%= t('from') %>:</span> <%= link_to( h(@message.created_by.display_name), user_path(:id => @message.created_by.id)) %></div>
<% end %>
    <div class="messageDate"><span><%= t('log_date') %>:</span> <%= format_usertime(@message.created_on, :message_created_format) %></div>
<% unless @message.project_milestone.nil? %>    
    <div class="messageMilestone"><span><%= t('milestone') %>:</span> <%= link_to h(@message.project_milestone.object_name), @message.project_milestone.object_url %></div>
<% end %>
    <div class="messageTags"><span><%= t('tags') %>:</span> <%= @message.tags %></div>
  </div>
  <div class="messageText">
    <%= textilize @message.text %>
<% if !@message.additional_text.nil? and @message.additional_text? %>
    <div class="messageSeparator"><%= t('message_seperator') %></div>
    <%= textilize @message.additional_text %>
<% end%>
  </div>

<%= render :partial => 'files/list_attached_files', :locals => {:dont_add => true, :attached_files => @message.attached_files(@logged_user.member_of_owner?), :attached_files_object => @message} %>
  <div class="messageOptions"><%= action_list actions_for_message(@message) %></div>
</div>

<!-- Comments -->
<div id="messageComments">
<%= render :partial => 'comments/object_comments', :locals => {:comments => @logged_user.member_of_owner? ? @message.comments : @message.comments.public} %>

<% if can? :comment, @message %>
<%= render :partial => 'comments/add_form', :locals => {:commented_object => @message} %>
<% end %>
</div>
