<div id="normal_login">
<%= form_tag session_path, :method => :post do %>
  <div id="loginUsernameDiv">
    <label for="loginUsername"><%= t('username') %></label>
    <%= text_field_tag 'login', @login, :size => 30, :id => 'loginUsername', :class => 'medium' %>
  </div>
  <div id="loginPasswordDiv">
    <label for="loginPassword"><%= t('password') %></label>
    <%= password_field_tag 'password', nil, :size => 30, :id => 'loginPassword', :class => 'medium' %>
  </div>
  
  <%= check_box_tag 'remember_me', '1', @remember_me, :class => 'checkbox' %>
  <label class="checkbox" for="remember"><%= t('remember_me') %></label>
  <div class="clean"></div>
  
  <span><%= link_to t('forgot_password_q') , new_password_path %></span>
  <div id="buttonSubmit">
  <button class="submit" type="submit" accesskey="s"><%= t('login') %></button>
  </div>
<% end %>
</div>