<div id="normal_login">
<%= form_tag session_path, :method => :post do %>
  <div id="loginUsernameDiv">
    <label for="loginUsername"><%= :username.l %></label>
    <%= text_field "login", "user", :size => 30, :id => 'loginUsername', :class => 'medium' %>
  </div>
  <div id="loginPasswordDiv">
    <label for="loginPassword"><%= :password.l %></label>
    <%= password_field "login", "password", :size => 30, :id => 'loginPassword', :class => 'medium' %>
  </div>
  
  <%= check_box_tag :remember, '1', false, :class => 'checkbox' %>
  <label class="checkbox" for="remember"><%= :remember_me.l %></label>
  <div class="clean"></div>
  
  <span><%= link_to :forgot_password_q.l , new_password_path %></span>
  <div id="buttonSubmit">
  <button class="submit" type="submit" accesskey="s"><%= :login.l %></button>
  </div>
<% end %>
</div>