= form_with(model: @milestone, url: project_milestones_path(@active_project), method: :post, multipart: true) do |form|
  = error_messages_for :milestone
  %div
    %label{for: "milestoneFormName"}
      = t('name')
      \:
      %span.label_required *
    = form.text_field 'name', id: 'milestoneFormName', class: 'long autofocus'
  %div
    %label{for: "milestoneDueDate"}
      = t('due_date')
      \:
    = form.date_select 'due_date', id: 'milestoneDueDate', class: 'short'
  - if @logged_user.member_of_owner?
    .formBlock
      %label{for: "milestoneIsPrivate"}
        = t('private_milestone')
        \:
        %span.desc= t('milestones_private_info')
      = form.check_box 'is_private', id: 'milestoneIsPrivate', class: 'checkbox'
  %button.submit{type: "submit"}= t('add_milestone')
  %a.cancel{href: "#"}
    = t('cancel')
