<%= form_tag project_milestones_path(@active_project) :method => :post %>
<%= error_messages_for :milestone %>
  <div>
    <label for="milestoneFormName"><%= t('name') %>: <span class="label_required">*</span></label>
    <%= text_field 'milestone', 'name', :id => 'milestoneFormName', :class => 'long autofocus' %>
  </div>

  <div>
    <label for="milestoneDueDate"><%= t('due_date') %>:</label>
    <%= date_select 'milestone', 'due_date', :id => 'milestoneDueDate', :class => 'short' %>
  </div>
  
<% if @logged_user.member_of_owner? %>
  <div class="formBlock">
    <label for="milestoneIsPrivate"><%= t('private_milestone') %>: <span class="desc"><%= t('milestones_private_info') %></span></label>
    <%= yesno_toggle 'milestone', 'is_private', :id => 'milestoneIsPrivate', :class => 'checkbox'  %>
  </div>
<% end %>

    <button class="submit" type="submit"><%= t('add_milestone') %></button> <a href="#" class="cancel"><%= t('cancel') %> </a>
</form>
