.sidebarBlock
  %h2= t('calendar_feeds')
  .blockContent
    %a.iCalSubscribe{href: "#{@logged_user.milestone_feed_url(@active_project, 'ics')}"}= t('ical')
    %p= t('calendar_feed_milestone_info').html_safe
    %p= t('calendar_feeds_password_warning').html_safe
- if @completed_milestones.length > 0
  .sidebarBlock
    %h2= t('completed_milestones')
    .blockContent
      %ul.listWithDetails
        - @completed_milestones.each do |milestone|
          %li
            = link_to (h milestone.name), project_milestone_path(milestone.project, id: milestone.id)
            - if not milestone.completed_by.nil?
              %br/
              %span.desc= t('milestone_completed_time_with_user',                                                                        |
                  time: format_usertime(milestone.completed_on, :milestone_completed_time_format),                            |
                  user: (link_to milestone.completed_by.display_name, user_path(id: milestone.completed_by.id))).html_safe |
