<% unless @late_milestones.empty? and @calendar_milestones.empty? and @upcoming_milestones.empty? %>

<% unless @late_milestones.empty? %>
  <div id="lateMilestones">
    <h2><%= :late_milestones.l %></h2>
<%= render :partial => 'show', :collection => @late_milestones %>
  </div>
<% end %>

<% unless @upcoming_milestones.empty? %>
  <div id="upcomingMilestones">
    <h2><%= :upcoming_milestones.l %></h2>
<% unless @calendar_milestones.empty? %>
    <h3><%= :due_in_next_n_days.l_with_args(:num => 14) %></h3>
    <div id="milestoneCalendar">
      <%= render :partial => 'calendar' %>
    </div>
<% end -%>
  <h3><%= :all_upcoming_milestones.l %></h3>
<%= render :partial => 'show', :collection => @upcoming_milestones %>
  </div>
<% end %>

<% else %>
<p><%= :no_active_milestones_in_project.l %></p>
<% end %>