- milestone = show
.milestone{class: milestone_class(milestone), id: "milestone_#{milestone.id}"}
  - if milestone.is_private
    .private{title: "#{t('private_milestone')}"}
      %span= t('private_milestone')
  .header
    - if can?(:change_status, milestone)
      - if milestone.is_completed?
        = checkbox_link open_project_milestone_path(milestone.project, id: milestone.id), true, nil, {data: { turbo_method: :put }}
      - else
        = checkbox_link complete_project_milestone_path(milestone.project, id: milestone.id), false, nil, {data: { turbo_method: :put }}
    - if not milestone.assigned_to.nil?
      %span.assignedTo
        = h milestone.assigned_to.object_name
        \:
    = link_to (h milestone.name), project_milestone_path(milestone.project, id: milestone.id)
    - if milestone.is_upcoming?
      (#{t('milestone_days_left', days: milestone.days_left)})
    - elsif milestone.is_late?
      (#{t('milestone_days_late', days: milestone.days_late)})
    - elsif milestone.is_today?
      (#{t('today')})
  .content
    - if milestone.due_date.year > Date.today.year
      .dueDate
        %span
          = t('due_date')
          \:
        = format_usertime(milestone.due_date, :milestone_due_date_extended_format)
    - else
      .dueDate
        %span
          = t('due_date')
          \:
        = format_usertime(milestone.due_date, :milestone_due_date_format)
    - if not milestone.description.nil?
      .description= textilize milestone.description
    / Milestones
    - if not (milestone.messages.length > 0 or milestone.task_lists.length > 0)
      %p= t('milestone_empty_info',                                                                                                                   |
          message: link_to(t('message'), new_project_message_path(project_id: @active_project.id, milestone_id: milestone.id)),                 |
          task_list: link_to(t('task_list'), new_project_task_list_path(project_id: @active_project.id, milestone_id: milestone.id))).html_safe |
    - else
      - if milestone.messages.length > 0
        %p
          = t('messages')
          \:
        %ul
          - (@logged_user.member_of_owner? ? milestone.messages : milestone.messages.is_public).each do |message|
            %li
              = link_to (h message.title), project_message_path(message.project, id: message.id)
              - if not message.created_by.nil?
                %span.desc
                  (#{t('milestone_messages_created_with_user',  time: format_usertime(message.created_on, :milestone_messages_created_format), user: link_to(h(message.created_by.display_name), user_path(id: message.created_by.id) )).html_safe})
      / Task lists
      - if milestone.task_lists.length > 0
        %p
          = t('task_lists')
          \:
        %ul
          - (@logged_user.member_of_owner? ? milestone.task_lists : milestone.task_lists.is_public).each do |task_list|
            - if task_list.is_completed?
              %li
                %del{datetime: "#{task_list.completed_on.iso8601}"}= link_to (h task_list.name), project_task_list_path(task_list.project, id: task_list.id)
            - else
              %li= link_to (h task_list.name), project_task_list_path(task_list.project, id: task_list.id)
    %p
      %span
        = t('tags')
        \:
      = tag_list milestone
    .milestoneOptions
      = action_list actions_for_milestone(milestone)
