<% milestone = show %>
<% if milestone.is_completed? %>
<div class="milestone success">
<% elsif milestone.is_today? %>
<div class="milestone important">
<% elsif milestone.is_late? %>
<div class="milestone important">
<% else %>
<div class="milestone hint">
<% end %>

<% if milestone.is_private %>
    <div class="private" title="<%= :private_milestone.l %>"><span><%= :private_milestone.l %></span></div>
<% end %>

    <div class="header">
<% if milestone.status_can_be_changed_by(@logged_user) %>
<% if milestone.is_completed? %>
<%= checkbox_link open_milestone_path(:id => milestone.id), true, nil, {:method => :put} %>
<% else %>
<%= checkbox_link complete_milestone_path(:id => milestone.id), false, nil, {:method => :put} %>
<% end %>
<% end %>

<% if not milestone.assigned_to.nil? %>
        <span class="assignedTo"><%= h milestone.assigned_to.object_name %>:</span>
<% end %>
      <%= link_to (h milestone.name), milestone_path(:id => milestone.id) %>
<% if milestone.is_upcoming? %>
 (<%= :milestone_days_left.l_with_args(:days => milestone.days_left) %>)
<% elsif milestone.is_late? %>
 (<%= :milestone_days_late.l_with_args(:days => milestone.days_late) %>)
<% elsif milestone.is_today? %>
 (<%= :today.l %>)
<% end %>
    </div>
    
    <div class="content">
<% if milestone.due_date.year > Date.today.year %>
      <div class="dueDate"><span><%= :due_date.l %>:</span> <%= format_usertime(milestone.due_date, :milestone_due_date_extended_format) %></div>
<% else %>
      <div class="dueDate"><span><%= :due_date.l %>:</span> <%= format_usertime(milestone.due_date, :milestone_due_date_format) %></div>
<% end %>
      
<% if not milestone.description.nil? %>
      <div class="description"><%= textilize milestone.description %></div>
<% end %>

<!-- Milestones -->
<% if not (milestone.project_messages.length > 0 or milestone.project_task_lists.length > 0) %>
      <p><%= :milestone_empty_info.l_with_args(
               :message => link_to(:message.l, new_message_path(:milestone_id => milestone.id)),
               :task_list => link_to(:task_list.l, new_task_list_path(:milestone_id => milestone.id))) %></p>
<% else %>
<% if milestone.project_messages.length > 0 %>
      <p><%= :messages.l %>:</p>
      <ul>
<% (@logged_user.member_of_owner? ? milestone.project_messages : milestone.project_messages.public).each do |message| -%>
        <li><%= link_to (h message.title), message_path(:id => message.id) %>
<% if not message.created_by.nil? %>
      <span class="desc">(<%= :milestone_messages_created_with_user.l_with_args(
             :time => format_usertime(message.created_on, :milestone_messages_created_format),
             :user => link_to(h(message.created_by.display_name), user_path(:id => message.created_by.id) )) %>)</span>
<% end %>
<% end %>
      </ul>
<% end %>

<!-- Task lists -->
<% if milestone.project_task_lists.length > 0 %>
      <p><%= :task_lists.l %>:</p>
      <ul>
<% (@logged_user.member_of_owner? ? milestone.project_task_lists : milestone.project_task_lists.public).each do |task_list| -%>
<% if task_list.is_completed? %>
        <li><del datetime="<%= task_list.completed_on.iso8601 %>"><%= link_to (h task_list.name), task_list_path(:id => task_list.id) %></del></li>
<% else %>
        <li><%= link_to (h task_list.name), task_list_path(:id => task_list.id) %></li>
<% end %>
<% end %>
      </ul>
<% end %>

<% end %>

  <p><span><%= :tags.l %>:</span> <%= tag_list milestone %></p>

<div class="milestoneOptions">
<%= action_list actions_for_milestone(milestone) %>
</div>

</div>

</div>
