<%
  @page_actions = []
  
  if ProjectMilestone.can_be_created_by(@logged_user, @active_project)
    @page_actions << {:title => :add_milestone, :url => new_milestone_path}
  end
%>

<% unless @late_milestones.empty? and @calendar_milestones.empty? and @upcoming_milestones.empty? %>
<div id="milestones">
<% unless @late_milestones.empty? %>
  <div id="lateMilestones">
    <h2><%= :late_milestones.l %></h2>
<%= render :partial => 'show', :collection => @late_milestones %>
  </div>
<% end %>

<% unless @upcoming_milestones.empty? %>
  <div id="upcomingMilestones">
    <h2><%= :upcoming_milestones.l %></h2>
    <h3><%= :due_in_next_n_days.l_with_args(:num => 14) %></h3>
  <%= now = @time_now.to_date
      prev_month = now.month
      days_calendar now, now + 14.days, 'dayCal' do |date|
        unless date == now
          if date.month != prev_month 
            prev_month = date.month
            calendar_block(date.strftime("%b %d"), @calendar_milestones["#{date.month}-#{date.day}"], 'day')
          else
            calendar_block(date.day, @calendar_milestones["#{date.month}-#{date.day}"], 'day') 
          end
        else
          calendar_block(:today.l, @calendar_milestones["#{date.month}-#{date.day}"], 'today', true) 
        end
  end %>
  <h3><%= :all_upcoming_milestones.l %></h3>
<%= render :partial => 'show', :collection => @upcoming_milestones %> 
  </div>
<% end %>

</div>
<% else %>
<p><%= :no_active_milestones_in_project.l %></p>
<% end %>
