<%= error_messages_for :comment %>

<% if @logged_user.is_anonymous? %>
  <div>
    <label for="commentFormName"><%= t('name') %>: <span class="label_required">*</span></label>
    <%= text_field 'comment', 'author_name', :id => 'commentFormName', :class => 'long' %>
  </div>
  
  <div>
    <label for="commentFormEmail"><%= t('email_address') %>: <span class="label_required">*</span></label>
    <%= text_field 'comment', 'author_email', :id => 'commentFormEmail', :class => 'long' %>
  </div>
<% end %>
  
  <div class="formAddCommentText">
    <label for="addCommentText"><%= t('text') %>: <span class="label_required">*</span></label>
    <%= text_area 'comment', 'text', :id => 'addCommentText', :class => 'comment' %>
  </div>
    
<% if @logged_user.member_of_owner? %>
  <fieldset>
    <legend><%= t('options') %></legend>
    
    <div class="objectOption">
      <div class="optionLabel"><label><%= t('private_comment') %>:</label></div>
      <div class="optionControl"><%= yesno_toggle 'comment', 'is_private', :class => 'yes_no', :id => 'commentFormIsPrivate' %></div>
      <div class="optionDesc"><%= t('private_comment_info') %></div>
    </div>
  </fieldset>
<% end %>

<% if can? :create_file, @active_project %>
  <%= render :partial => 'files/attach_file' %>
  <script type="text/javascript">
    file_form_attach_init(<%= Rails.configuration.railscollab.max_attachments %>);
  </script>
<% end %>
