.formAddCommentText
  .form-group
    = form.label :text, t('text'), class: 'required-label'
    = form.text_area 'text', id: 'addCommentText', class: 'comment'
    = form_field_errors(form, :text)
- if @logged_user.member_of_owner?
  %fieldset
    %legend= t('options')
    .form-group.checkbox
      = form.label :is_private, t('private_comment')
      = form.check_box :is_private, class: 'yesno'
      .desc.check= t('private_comment_info')
- if can? :create_file, @active_project
  = render partial: 'files/attach_file'
- content_for :page_head do
  - if can? :create_file, @active_project
    %meta{content: Rails.configuration.railscollab.max_attachments, name: "file-attachment-limit"}/
