<%= form_tag task_path(:task_list_id => @task.task_list_id, :id => @task.id), :method => :put, 'data-remote' => true, 'data-type' => :json, :class => 'editTaskItem' %>
  <%= render :partial => 'form', :object => @task %>
  <%= loading_spinner %>
  <div class="buttons"><button class="submit" type="submit"><%=t('edit_task') %></button> <%= t('or') %> <%= link_to t('cancel'), task_path(:task_list_id => @task.task_list_id, :id => @task.id), :class => 'cancel', 'data-remote' => true, 'data-type' => :json %></div>
</form>