<% task = form -%>
<%= error_messages_for :task, :object => task %>

<% if not task.new_record? and @no_show_list.nil? %>
  <div>
    <label for="addTaskTaskList<%= task.id %>"><%= :task_list.l %>: <span class="label_required">*</span></label>
    <%= select 'task', 'task_list_id', ProjectTaskList.select_list(@active_project), {}, :id => "addTaskTaskList#{task.id}" %>
  </div>
<% end %>

  <div>
    <label for="addTaskText<%= task.id %>"><%= :text.l %>: <span class="label_required">*</span></label>
    <%= text_area 'task', 'text', :id => "addTaskText#{task.id}", :class => 'short', :rows => 10, :cols => 40  %>
  </div>
  <div>
    <label for="taskAssignedTo<%= task.id %>"><%= :assign_to.l %>:</label>
    <%= assign_project_select 'task', 'assigned_to_id', @active_project, :id => "taskAssignedTo#{task.id}" %>
  </div>
  <div><%= check_box_tag 'send_notification', '1', params[:send_notification], :id => "taskSendNotification#{task.id}", :class => 'checkbox'  %> <label for="taskSendNotification<%= task.id %>" class="checkbox"><%= :send_email_notification_to_user.l %></label></div>
