<% task_item = show %>

<li class="taskItem" id="task_item_<%= task_item.id %>" task_id="<%= task_item.id %>">
<% if task_item.can_be_changed_by(@logged_user) %>
<div class="taskItemHandle" style="display:none">
  <div class="inner">[+]</div>
</div>
<% end %>
<div class="taskItemContent">
	<% if task_item.can_be_changed_by(@logged_user) %>
	<div class="taskControls">
			<%= link_to render_icon('trash', 'Trash'), task_path(:id => task_item.id, :task_list_id => task_item.task_list_id), {:confirm_l => :task_delete_confirm.l, :class => 'blank taskDelete'} %><%= link_to 'Edit', edit_task_path(:id => task_item.id, :task_list_id => task_item.task_list_id), {:class => 'blank taskEdit edit'} %>
			</div>
			<% end %>
<% if task_item.can_be_changed_by(@logged_user) %>
        <input class="checkbox" type="checkbox" <% if show.is_completed? %>checked="true"<% end %>/>
<% else %>
        <span class="taskCheckbox"><%= render_icon( (task_item.completed_on.nil? ? 'not-checked' : 'checked'), :task_open.l) %></span>
<% end %>
        <span class="taskText">
					<% if not task_item.assigned_to.nil? %>
          <span class="assignedTo"><%= task_item.assigned_to.object_name %>:</span> 
					<% end %>
          <%= h task_item.text %> 
					<% if task_item.comment_can_be_added_by(@logged_user) %><%= link_to render_icon('comment','', { :class => "comment" }), task_path(:id => task_item.id, :task_list_id => task_item.task_list_id), {:class => 'blank'} %><% end %>
	<br />
  </span>
</div>
</li>