<%
  @page_title = @task.text
  
  @tabbed_navigation_items = project_tabbed_navigation(:tasks)
  @bread_crumbs = project_crumbs(@task.text, [
  	{:title => :tasks, :url => "/project/#{@active_project.id}/task_lists"},
  	{:title => @task.task_list.name, :url => "/project/#{@active_project.id}/task_lists/#{@task_list.id}"}
  ])
  
  @page_actions = []
  
  @additional_stylesheets = ['project/task_list', 'project/task']
%>

<div class="task">
  <div class="taskList" id="list_<%= @task_list.id %>" url="<%= @task_list.object_url %>">
  <div class="block">
    <div class="openTasks">
      <ul class="taskItems" id="openTasksList<%= @task_list.id %>">
<% unless @task.is_completed? %>
        <%= render :partial => 'tasks/show', :collection => [@task], :locals => {:tprefix => "openTasksList#{@task_list.id}"} %>
<% end %>
      </ul>
    </div>

    <div class="completedTasks">
      <ul class="taskItems">
<% if @task.is_completed? %>
        <%= render :partial => 'tasks/show', :collection => [@task], :locals => {:tprefix => "openTasksList#{@task_list.id}"} %>
<% end %>
      </ul>
    </div>
  </div>
  </div>
</div>

<!-- Comments -->
<div id="taskComments">
<%= render :partial => 'comment/object_comments', :locals => {:comments => @logged_user.member_of_owner? ? @task.comments : @task.comments.public} %>

<% if @task.comment_can_be_added_by(@logged_user) %>
<%= render :partial => 'comment/add_form', :locals => {:commented_object => @task} %>
<% end %>
</div>
