<%
  @bread_crumbs = project_crumbs(@task.text, [
  	{:title => :tasks, :url => task_lists_path},
  	{:title => @task.task_list.name, :url => task_list_path(:id => @task_list.id)}
  ])
%>

<div class="task">
  <div class="taskList" id="list_<%= @task_list.id %>" url="<%= @task_list.object_url %>">
  <div class="block">
    <div class="openTasks">
      <ul class="taskItems" id="openTasksList<%= @task_list.id %>">
<% unless @task.is_completed? %>
        <%= render :partial => 'tasks/show', :collection => [@task], :locals => {:tprefix => "openTasksList#{@task_list.id}"} %>
<% end %>
      </ul>
    </div>

    <div class="completedTasks">
      <ul class="taskItems">
<% if @task.is_completed? %>
        <%= render :partial => 'tasks/show', :collection => [@task], :locals => {:tprefix => "openTasksList#{@task_list.id}"} %>
<% end %>
      </ul>
    </div>
  </div>
  </div>
</div>

<!-- Comments -->
<div id="taskComments">
<%= render :partial => 'comments/object_comments', :locals => {:comments => @logged_user.member_of_owner? ? @task.comments : @task.comments.public} %>

<% if can? :comment, @task %>
<%= render :partial => 'comments/add_form', :locals => {:commented_object => @task} %>
<% end %>
</div>
