<% if users.empty? %>

<p><%= t('company_no_users') %></p>

<% else %>

<div id="usersList">
<% users.each do |listed_user| -%>
  <div class="listedUser <%= cycle('odd', 'even') %>">
    <div class="userAvatar"><img src="<%= listed_user.avatar_url %>" alt="<%= h listed_user.display_name %> avatar" /></div>
    <div class="userDetails">
      <div class="userName"><a href="<%= "/users/#{listed_user.id}" %>"><%= listed_user.display_name %></a></div>
<% if company.is_owner? %>
      <div class="userIsAdmin"><span><%= t('administrator') %>:</span> <%= listed_user.is_admin ? t('yesno_yes') : t('yesno_no') %></div>
      <div class="userAutoAssign"><span><%= t('auto_assign') %>:</span> <%= listed_user.auto_assign ? t('yesno_yes') : t('yesno_no') %></div>
<% end %>
      <div class="userOptions"><%= action_list actions_for_user(listed_user) %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
<% end %>
</div>

<% end %>
