.card
  .cardIcon
    %img{alt: "#{h card.display_name} avatar", src: "#{card.avatar_url}"}/
  .cardData
    %h2= h card.display_name
    .cardBlock
      %div
        %span
          = t('title')
          \:
        = card.title ? (h card.title) : t('not_applicable')
      %div
        %span
          = t('company')
          \:
        = link_to card.company.name, company_path(id: card.company.id)
    %h2= t('contact_online')
    .cardBlock
      %div
        %span
          = t('email_address')
          \:
        %a{href: "mailto:#{h card.email}"}= h card.email
      - if !card.im_values.empty?
        %table.imAddresses
          - card.im_values.each do |im_value|
            - next if im_value.value.blank?
            %tr
              %td
                %img{alt: "#{im_value.im_type.name}", src: "#{im_value.im_type.icon_url}"}/
              %td
                = h im_value.value
                - if im_value.is_default
                  %span.desc
                    (#{t('primary_im')})
    - if !card.office_number.nil? or !card.fax_number.nil? or !card.mobile_number.nil? or !card.home_number.nil?
      %h2= t('contact_offline')
      .cardBlock
        - if !card.office_number.nil? and !card.office_number.empty?
          %div
            %span
              = t('office')
              \:
            = h(card.office_number)
        - if !card.fax_number.nil? and !card.fax_number.empty?
          %div
            %span
              = t('fax')
              \:
            = h(card.fax_number)
        - if !card.mobile_number.nil? and !card.mobile_number.empty?
          %div
            %span
              = t('mobile')
              \:
            = h(card.mobile_number)
        - if !card.home_number.nil? and !card.home_number.empty?
          %div
            %span
              = t('home')
              \:
            = h(card.home_number)
