<div class="card">
  <div class="cardIcon"><img src="<%= card.avatar_url %>" alt="<%= h card.display_name %> avatar" /></div>
  <div class="cardData">
  
    <h2><%= h card.display_name %></h2>
    
    <div class="cardBlock">
      <div><span><%= :title.l %>:</span> <%= card.title ? (h card.title) : :not_applicable.l %></div>
      <div><span><%= :company.l %>:</span> <%= link_to card.company.name, company_path(:id => card.company.id) %></div>
    </div>
    
    <h2><%= :contact_online.l %></h2>
    
    <div class="cardBlock">
      <div><span><%= :email_address.l %>:</span> <a href="mailto:<%= h card.email %>"><%= h card.email %></a></div>
      
<% if !card.im_values.empty? %>
      <table class="imAddresses">
<% card.im_values.each do |im_value| -%>
<% next if im_value.value.blank? %>
        <tr>
          <td><img src="<%= im_value.im_type.icon_url %>" alt="<%= im_value.im_type.name %>" /></td>
          <td><%= h im_value.value %> <% if im_value.is_default %><span class="desc">(<%= :primary_im.l %>)</span><% end %></td>
        </tr>
<% end %>
      </table>
<% end %>

    </div>
    
    <% if !card.office_number.nil? or !card.fax_number.nil? or !card.mobile_number.nil? or !card.home_number.nil? %>
    <h2><%= :contact_offline.l %></h2>
    
    <div class="cardBlock">
      <% if !card.office_number.nil? and !card.office_number.empty? %><div><span><%= :office.l %>:</span><%= h(card.office_number) %></div><% end %>
      <% if !card.fax_number.nil? and !card.fax_number.empty? %><div><span><%= :fax.l %>:</span><%= h(card.fax_number) %></div><% end %>
      <% if !card.mobile_number.nil? and !card.mobile_number.empty? %><div><span><%= :mobile.l %>:</span><%= h(card.mobile_number) %></div><% end %>
      <% if !card.home_number.nil? and !card.home_number.empty? %><div><span><%= :home.l %>:</span><%= h(card.home_number) %></div><% end %>
    </div>
    <% end %>
  
  </div>
</div>
