<%= error_messages_for :user %>

<% if @logged_user.is_admin %>
  <div class="hint">
    <div class="header"><%= t('administration_options_info') %></div>
    <div class="content">
      <div>
        <label for="userFormUsername"><%= t('username') %>: <span class="label_required">*</span></label>
        <%= text_field 'user', 'username', :id => 'userFormUsername' %>
      </div>
      
<% if @logged_user.member_of_owner? %>
      <div>
        <label for="userFormCompany"><%= t('company') %>: <span class="label_required">*</span></label>
        <%= select 'user', 'company_id', Company.select_list, {}, {:id => 'userFormCompany'} %>
      </div>
      
      <fieldset>
        <legend><%= t('options') %></legend>
        
        <div>
          <label for="userFormIsAdmin"><%= t('administrator') %>: <span class="label_required">*</span></label>
          <%= yesno_toggle 'user', 'is_admin', :id => 'userFormIsAdmin', :class => 'checkbox'  %>
        </div>
    
        <div>
          <label for="userFormAutoAssign"><%= t('auto_assign_to_new_projects') %>: <span class="label_required">*</span></label>
          <%= yesno_toggle 'user', 'auto_assign', :id => 'userFormAutoAssign', :class => 'checkbox'  %>
        </div>
      </fieldset>
<% end %>
    </div>
  </div>
<% else %>
  <div>
    <label for="userFormUsername"><%= t('username') %>: <span class="label_required">*</span></label>
    <%= @user.username %>
  </div>
<% end %>

  <div>
    <label for="userFormDisplayName"><%= t('display_name') %></label>
    <%= text_field 'user', 'display_name', :id => 'userFormDisplayName', :class => 'medium' %>
  </div>
  
  <div>
    <label for="profileFormEmail"><%= t('email_address') %> <span class="label_required">*</span></label>
    <%= text_field 'user', 'email', :id => 'profileFormEmail', :class => 'long' %>
  </div>
  
  <div>
    <label for="profileFormTimezone"><%= t('timezone') %> <span class="label_required">*</span></label>
    <%= time_zone_select 'user', 'time_zone', nil, {}, {:id => 'profileFormTimezone', :class => 'long'} %>
  </div>

<div class="formBlock">  
  <fieldset>
    <legend><%= t('password') %></legend>
    <% if @user.new_record? %>
    <div>
        <label for="userFormGeneratePassword"><%= t('generate_password') %></label>
        <input type="checkbox" checked="true" name="user[generate_password]" value="true" class="checkbox" id="userFormGeneratePassword" onclick="user_form_update_passwordgen()"/>      
    </div>
    <% end %>
    <div id="userFormPasswordInputs">
      <div>
        <label for="userFormPassword"><%= t('password') %> <span class="label_required">*</span></label>
        <input type="password" id="userFormPassword" name="user[password]" />
      </div>

      <div>
        <label for="userFormPasswordA"><%= t('repeat_password') %> <span class="label_required">*</span></label>
        <input type="password" id="userFormPasswordA" name="user[password_confirmation]" />
      </div>
    </div>
  </fieldset>
  <script type="text/javascript">
    user_form_update_passwordgen();
  </script>
  </div>

<% if @user.new_record? %>
<div class="formBlock"> 
  <label><%= t('send_account_email_notification') %> <span class="label_required">*</span></label>
  <%= yesno_toggle_tag 'new_account_notification', !!@send_email, :id => 'userFormEmailNotificationYes', :class => 'checkbox' %><br /><span class="desc"><%= t('send_account_email_notication_info') %></span>
</div>
<% else %>
<div class="formBlock">
  <fieldset>
    <legend><%= t('contact_info') %></legend>
  
    <div>
      <label for="userFormTitle"><%= t('title') %></label>
      <%= text_field 'user', 'title', :id => 'userFormTitle' %>
    </div>
      
    <div>
      <label for="userFormOfficeNumber"><%= t('office') %></label>
      <%= text_field 'user', 'office_number', :id => 'userFormOfficeNumber' %>
    </div>
    
    <div>
      <label for="userFormOfficeNumberExt"><%= t('office') %></label>
      <%= text_field 'user', 'office_number_ext', :id => 'userFormOfficeNumberExt' %>
    </div>
    
    <div>
      <label for="userFormFaxNumber"><%= t('fax') %></label>
      <%= text_field 'user', 'fax_number', :id => 'userFormFaxNumber' %>
    </div>
    
    <div>
      <label for="userFormMobileNumber"><%= t('mobile') %></label>
      <%= text_field 'user', 'mobile_number', :id => 'userFormMobileNumber' %>
    </div>
    
    <div>
      <label for="userFormHomeNumber"><%= t('home') %></label>
      <%= text_field 'user', 'home_number', :id => 'userFormHomeNumber' %>
    </div>
    
  </fieldset>
<% all_im_values = @user.im_info %>
<% if all_im_values.length > 0 %>
  <fieldset>
    <legend><%= t('instant_messengers') %></legend>
    <table class="blank">
      <tr>
        <th colspan="2"><%= t('service') %></th>
        <th><%= t('value') %></th>
        <th><%= t('primary_im') %></th>
      </tr>
<% @count = 0 %>
<% all_im_values.each do |im_value| -%>
      <tr>
        <td style="vertical-align: middle"><img src="<%= im_value.im_type.icon_url %>" alt="<%= im_value.im_type.name %> icon" /></td>
        <td style="vertical-align: middle"><label class="checkbox" for="<%= "userFormIm#{@count}" %>"><%= im_value.im_type.name %></label></td>
        <td style="vertical-align: middle"><%= text_field_tag "user[im_values][#{im_value.im_type_id}][value]", im_value.value, :id => "userFormIm#{@count}" %></td>
        <td style="vertical-align: middle"><%= radio_button_tag "user[default_im_value]", im_value.im_type_id, im_value.is_default, :id => 'im_default', :class => 'checkbox' %></td>
      </tr>
<% @count += 1 %>
<% end %>
    </table>
    <p class="desc"><%= t('instant_messengers_info') %></p>
  </fieldset>
<% end %>
</div>
<% end %>

<% if @logged_user.member_of_owner? and @user.new_record? and !@active_projects.empty? %>

<% content_for :page_head do %>
  <meta name="permissions-form-items" content="<%= h((@permissions.keys).to_json) %>" />
<% end %>

<fieldset>
  <legend><%= t('permissions') %></legend>
  <div id="userPermissions">
    <div id="userProjects">
      <table class="blank">
<%= render :partial => 'projects/permissions', :locals => {:user => @user}, :collection => @projects %>
      </table>
    </div>
  </div>
</fieldset>
<% end %>

