<%= form_tag user_path(:id => @user.id), :method => :put %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= :edit_user.l %></button>
</form>

<%= form_tag( avatar_user_path(:id => @user.id), :multipart => true, :method => :put ) %>
<%= error_messages_for :user %>
  
  <fieldset>
    <legend><%= :current_avatar.l %></legend>
<% if @user.has_avatar? %>
    <img src="<%= @user.avatar_url %>" alt="<%= h @user.display_name %> avatar" />
    <p><%= link_to :delete_current_avatar.l, avatar_user_path(:id => @user.id), {:onclick => :avatar_confirm_delete, :method => :delete} %></p>
<% else %>
    <%= :avatar_not_uploaded.l %>
<% end %>
  </fieldset>
  
  <div>
    <label for="avatarFormAvatar"><%= :new_avatar.l %> <span class="label_required">*</span></label>
    <div id="avatarFormAvatar"><input type="file" name="user[avatar]" /></div>
<% if @user.has_avatar? %>
    <p class="desc"><%= :avatar_upload_info.l %></p>
<% end %>
  </div>
  
    <button class="submit" type="submit"><%= :update_avatar.l %></button>
  
</form>
