<%= form_tag user_path(:id => @user.id), :method => :put %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= t('edit_user') %></button>
</form>

<%= form_tag( avatar_user_path(:id => @user.id), :multipart => true, :method => :put ) %>
<%= error_messages_for :user %>
  
  <fieldset>
    <legend><%= t('current_avatar') %></legend>
<% if @user.has_avatar? %>
    <img src="<%= @user.avatar_url %>" alt="<%= h @user.display_name %> avatar" />
    <p><%= link_to t('delete_current_avatar'), avatar_user_path(:id => @user.id), {:onclick => :avatar_confirm_delete, :method => :delete} %></p>
<% else %>
    <%= t('avatar_not_uploaded') %>
<% end %>
  </fieldset>
  
  <div>
    <label for="avatarFormAvatar"><%= t('new_avatar') %> <span class="label_required">*</span></label>
    <div id="avatarFormAvatar"><input type="file" name="user[avatar]" /></div>
<% if @user.has_avatar? %>
    <p class="desc"><%= t('avatar_upload_info') %></p>
<% end %>
  </div>
  
    <button class="submit" type="submit"><%= t('update_avatar') %></button>
  
</form>
