%table.data.wiki_pages
  %thead
    %tr
      %th= t 'wiki_engine.title'
      %th= t 'wiki_engine.last_modified'
      %th
  %tbody
    - list.each do |wiki_page|
      %tr{class: "#{cycle('odd', 'even')}"}
        %td= link_to h(wiki_page.title), new_project_wiki_page_path(wiki_page.project, id: wiki_page.slug)
        %td= wiki_page.updated_at.to_s(:long)
        %td.operations= render partial: 'operations', locals: {wiki_page: wiki_page}
