<%= form_for(@wiki_page, :url => new_wiki_page_path(@wiki_page.project, :id => @wiki_page.slug)) do |form| %>
  <%= render :partial => form %>
  <div class="buttons">
    <button class="submit" type="submit"><%= t('edit_page') %></button>
    <%= preview_button %>
  </div>
<% end %>

<div id="preview">
  <%= render @wiki_page %>
</div>
