.form-group.normal
  = form.label :name, t('name'), class: 'required-label'
  = form.text_field 'name', class: 'long'
  = form_field_errors(form, :name)
.form-group.normal
  = form.label :priority, t('priority')
  = form.text_field 'priority', class: 'long'
  = form_field_errors(form, :priority)
.form-group.normal
  = form.label :description, t('description')
  = form.text_area 'description', class: 'short', rows: 10, cols: 40
  = form_field_errors(form, :description)
.form-group.checkbox
  = form.label :show_description_in_overview, t('project_show_description_in_overview')
  = form.check_box 'show_description_in_overview', class: 'yes_no'
  = form_field_errors(form, :show_description_in_overview)
