<% if @important_messages.length > 0 %>
<div class="sidebarBlock">
  <h2><%= :important_messages.l %></h2>
  <div class="blockContent">
    <ul class="listWithDetails">
<% @important_messages.each do |important_message| -%>
      <li><%= link_to (h important_message.title), message_path(:id => important_message.id) %><br />
      <span class="desc"><%= :important_messages_comments_count.l_with_args(:count => important_message.comments.length) %></span></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% if @important_files.length > 0 %>
<div class="sidebarBlock">
  <h2><%= :important_files.l %></h2>
  <div class="blockContent">
    <ul>
<% @important_files.each do |important_file| -%>
      <li>
        <a href="<%= important_file.object_url %>"><%= h important_file.filename %></a><br />
        <span class="desc"><%= :important_file_revisions_count.l_with_args(:count => important_file.project_file_revisions.length) %></span>
      </li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% if @active_project.can_be_edited_by(@logged_user) or @active_project.status_can_be_changed_by(@logged_user) %>
<div class="sidebarBlock">
<% if @active_project.is_active? %>
  <h2><%= :project_status_header.l_with_args(:status => :active.l) %></h2>
<% else %>
  <h2><%= :project_status_header.l_with_args(:status => :completed.l) %></h2>
<% end %>
  <div class="blockContent">
    <ul>
<% if @active_project.can_be_edited_by(@logged_user) %>
      <li><%= link_to :edit_project_details.l, :controller => 'project', :action => 'edit' %></li>
<% end %>

<% if @active_project.status_can_be_changed_by(@logged_user) %>
<% if @active_project.is_active? %>
      <li><%= link_to :mark_project_as_finished.l, {:controller => 'project', :action => 'complete'}, :method => :post, :confirm => :mark_project_as_finished_confirmation.l %></li>
<% else %>
      <li><%= link_to :mark_project_as_active.l, {:controller => 'project', :action => 'open'}, :method => :post, :confirm => :mark_project_as_active_confirmation.l %></li>
<% end %>
<% end %>

    </ul>
  </div>
</div>
<% end %>

<% if @project_companies.length > 0 %>
<div class="sidebarBlock">
  <h2><%= :involved_companies.l %></h2>
  <div class="blockContent">
    <ul>
<% @project_companies.each do |project_company| -%>
      <li><%= link_to (h project_company.name), company_path(:id => project_company.id) %></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="sidebarBlock">
  <h2><%= :update_feeds.l %></h2>
  <div class="blockContent">
    <ul id="listOfRssFeeds">
      <li><%= link_to :recent_activities.l, @logged_user.recent_activity_feed_url(@active_project, 'rss') %></li>
    </ul>
  </div>
</div>
