<% if @important_messages.length > 0 %>
<div class="sidebarBlock">
  <h2><%= t('important_messages') %></h2>
  <div class="blockContent">
    <ul class="listWithDetails">
<% @important_messages.each do |important_message| -%>
      <li><%= link_to (h important_message.title), message_path(:id => important_message.id, :active_project => @active_project.id) %><br />
      <span class="desc"><%= t('important_messages_comments_count', :count => important_message.comments.length) %></span></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% if @important_files.length > 0 %>
<div class="sidebarBlock">
  <h2><%= t('important_files') %></h2>
  <div class="blockContent">
    <ul>
<% @important_files.each do |important_file| -%>
      <li>
        <a href="<%= important_file.object_url %>"><%= h important_file.filename %></a><br />
        <span class="desc"><%= t('important_file_revisions_count', :count => important_file.project_file_revisions.length) %></span>
      </li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% if can?(:edit,@active_project) or can?(:change_status, @active_project) %>
<div class="sidebarBlock">
<% if @active_project.is_active? %>
  <h2><%= t('project_status_header', :status => t('active')) %></h2>
<% else %>
  <h2><%= t('project_status_header', :status => t('completed')) %></h2>
<% end %>
  <div class="blockContent">
    <ul>
<% if can? :edit, @active_project %>
      <li><%= link_to t('edit_project_details'), edit_project_path(:id => @active_project.id) %></li>
<% end %>

<% if can?(:change_status, @active_project) %>
<% if @active_project.is_active? %>
      <li><%= link_to t('mark_project_as_finished'), complete_project_path(:id => @active_project.id), :method => :put, :confirm => t('mark_project_as_finished_confirmation') %></li>
<% else %>
      <li><%= link_to t('mark_project_as_active'), open_project_path(:id => @active_project.id), :method => :put, :confirm => t('mark_project_as_active_confirmation') %></li>
<% end %>
<% end %>

    </ul>
  </div>
</div>
<% end %>

<% if @project_companies.length > 0 %>
<div class="sidebarBlock">
  <h2><%= t('involved_companies') %></h2>
  <div class="blockContent">
    <ul>
<% @project_companies.each do |project_company| -%>
      <li><%= link_to (h project_company.name), company_path(:id => project_company.id) %></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<div class="sidebarBlock">
  <h2><%= t('update_feeds') %></h2>
  <div class="blockContent">
    <ul id="listOfRssFeeds">
      <li><%= link_to t('recent_activities'), @logged_user.recent_activity_feed_url(@active_project, 'rss') %></li>
    </ul>
  </div>
</div>
