- perm_id = "#{project.id}_#{company.id}_#{permissions_users.id}"
%tr.user
  %td
    - if permissions_users.owner_of_owner?
      = render_icon 'ok', 'Ok'
      %label.checkbox= h permissions_users.display_name
      %input{name: "people_#{permissions_users.id}", type: "hidden", value: "checked"}/
    - else
      = check_box_tag "people[]", permissions_users.id, permissions_users.member_of(@active_project), {id: "projectPermissions#{perm_id}", class: 'checkbox', onclick: "permissions_form_project_select('#{perm_id}')"}
      %label.checkbox{for: "projectPermissions#{perm_id}"}= h(permissions_users.display_name)
  - if permissions_users.is_admin?
    %span.desc= t('administrator')
%td
  - unless company.is_instance_owner?
    .projectUserPermissions{id: "projectPermissionsBlock#{perm_id}", style: permissions_users.member_of(project) ? '' : 'display: none'}
    %div
      = check_box_tag "people_#{permissions_users.id}_all", 1, user_has_all_permissions?(permissions_users, project), {id: "projectPermissions#{perm_id}All", class: 'checkbox', onclick: "permissions_form_project_select_all('#{perm_id}')"}
      %label.checkbox{for: "projectPermissions#{perm_id}All", style:"font-weight: bolder"}= t('all')
    %div
      - @permissions.keys.each do |permission|
        %div
          = check_box_tag "people_permissions[#{permissions_users.id}][]", permission, user_has_permission?(permissions_users, project, permission), {id: "projectPermission#{perm_id}#{permission}", class: 'checkbox normal', onclick: "permissions_form_project_select_item('#{perm_id}')"}
          %label.checkbox.normal{for: "projectPermissions#{perm_id}#{permission}"}= @permissions[permission]
