%tr
  %td.projectName
    = check_box_tag "user_project[]", "#{permissions.id}", user.member_of(permissions), {id: "projectPermissions#{permissions.id}", class: 'checkbox normal', onclick: "CoreController.permissions_form_project_select(#{permissions.id})"}
    - if !permissions.is_active?
      %label.checkbox{for: "projectPermissions#{permissions.id}"}
      %del.help{title: "Completed on #{format_usertime(permissions.completed_on, :project_completed_time_format)} by #{permissions.completed_by.display_name}"}= by h(permissions.name)
    - else
      %label.checkbox{for: "projectPermissions#{permissions.id}"}= h(permissions.name)
  %td.permissionsList
    - if can? :update_permissions, user
      %div{id: "projectPermissionsBlock#{permissions.id}", style: !user.permissions_for(permissions).nil? ? 'display:none' : ''}
        .projectPermission
          = check_box_tag "project_#{permissions.id}_all", 1, user_has_all_permissions?(user, permissions) 
          %label.checkbox{style:'font-weight: bolder', for: "projectPermissions#{permissions.id}All", class: 'checkbox', onclick: "CoreController.permissions_form_project_select_all(#{permissions.id})"}= t('all')
      - @permissions.keys.each do |pname|
        .projectPermission
          = check_box_tag "project_permission[#{permissions.id}][]", "#{pname}", user_has_permission?(user, permissions, pname), {id: "projectPermission#{permissions.id}#{pname}", class: 'checkbox normal', onclick: "CoreController.permissions_form_project_select_item(#{permissions.id})"}
          %label.checkbox.normal{for: "projectPermission#{permissions.id}#{pname}"}= @permissions[pname]
