<%= form_tag :controller => 'project', :action => 'edit' %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= :save_changes.l %></button> <%= :or.l %> <%= link_to :cancel.l, :back %>
</form>
