= form_with(model: @project, url: project_path(@project), method: :put) do |form|
  render partial: 'form', locals: {form: form}
  %button.submit{type: "submit"}= "#{t('save_changes')} #{t('or')} #{link_to t('cancel'), :back}".html_safe
