<%
  @page_actions = []
  
  if can? :create_project, current_user
  	@page_actions << {:title => :add_project, :url => new_project_path}
  end
%>
<% if @projects.length > 0 %>
<table id="projects">
  <tr>
    <th></th>
    <th><%= t('name') %></th>
    <th><%= t('options') %></th>
  </tr>

<% @projects.each do |project| -%>
  <tr>
    <td class="middle">
<% if can?(:change_status, project) %>
<%= project.is_active? ? checkbox_link(complete_project_path(:id => project.id), false, nil, {:method => :put}) : checkbox_link(open_project_path(:id => project.id), true, nil, {:method => :put}) %>
<% else %>
<% if project.is_active? %>
<img src="<%= icon_url('not-checked') %>" alt="" title="<%= t('active_project') %>" />
<% else %>
<img src="<%= icon_url('checked') %>" alt="" title="<%= t('finished_project') %>" />
<% end %>
<% end %>
    </td>
    <td class="long middle"><%= link_to h(project.name), project_path(:id => project.id) %></td>
    <td class="middle"><%= action_list actions_for_project(project) %></td>
  </tr>
<% end %>
</table>
<% else %>
<%= t('no_projects_owned_by_company') %>
<% end %>
