- if @companies.length > 0

  = form_with(model: @active_project, url: permissions_project_path(), method: :put) do |form|
    #projectCompanies
      - @companies.each do |company|
        - if company.users.length > 0
          .projectCompany
            .projectCompanyLogo
              %img{src: company.logo_url, alt: h(company.name)}/
            .projectCompanyMeta
              .projectCompanyTitle
                - if company.is_owner?
                  %label= h company.name
                  %input{name: "project_company[]", type: "hidden", value: company.id, checked: 'checked'}/
                - else
                  = check_box_tag "project_company[]", "#{company.id}", company.is_part_of(@active_project), {id: "projectCompany#{@active_project.id}_#{company.id}", class: 'checkbox', onclick: "permissions_form_project_select_company('#{@active_project.id}_#{company.id}')"}
                  %label.checkbox{for: "project_company[]"}=h(company.name)
            #projectCompanyUsers{id: "projectCompanyUsers#{@active_project.id}_#{company.id}", style: !company.is_part_of(@active_project) ? 'display: none' : ''}
            %table.blank
              - unless company.users.empty?
                = render partial: 'projects/permissions_users', locals: {project: @active_project, company: company}, collection: company.users
              - else
                %tr
                  %td{colspan: "2"}= t('company_no_users')
          .clear
    %button.submit{type: "submit"}= t('update_people')


- content_for :page_head do
  %meta{name: 'permissions-form-items', content: h((@permissions.keys).to_json)}
