<% if @companies.length > 0%>
<%= form_tag permissions_project_path(:id => @active_project.id), :method => :put, :data => { turbo_method: :put } %>
<div id="projectCompanies">
<% @companies.each do |company| -%>
<% if company.users.length > 0 %>
  <div class="projectCompany">
    <div class="projectCompanyLogo"><img src="<%= company.logo_url %>" alt="<%= h company.name %>" /></div>
    <div class="projectCompanyMeta">
      <div class="projectCompanyTitle">
<% if company.is_owner? %>
        <label><%= h company.name %></label>
        <input type="hidden" name="project_company[]" value="<%= company.id %>" checked="checked" />
<% else %>
        <%= check_box_tag "project_company[]", "#{company.id}", company.is_part_of(@active_project), {:id => "projectCompany#{@active_project.id}_#{company.id}", :class => 'checkbox', :onclick => "permissions_form_project_select_company('#{@active_project.id}_#{company.id}')"} %> <label for="<%= "project_company[]" %>" class="checkbox"><%= h company.name %></label>
<% end %>
      </div>
      <div class="projectCompanyUsers" id="projectCompanyUsers<%= "#{@active_project.id}_#{company.id}" %>" <% unless company.is_part_of(@active_project) %>style="display: none"<% end %>>
        <table class="blank">
<% unless company.users.empty? %>
        <%= render :partial => 'projects/permissions_users', :locals => {:project => @active_project, :company => company}, :collection => company.users %>
<% else %>
        <tr>
          <td colspan="2"><%= t('company_no_users') %></td>
        </tr>
<% end %>
         </table>
      </div>
      <div class="clear"></div>
    </div>
  </div>
<% end %>
<% end %>

<button class="submit" type="submit"><%= t('update_people') %></button>
</div>
</form>
<% end %>

<% content_for :page_head do %>
  <meta name="permissions-form-items" content="<%= h((@permissions.keys).to_json) %>" />
<% end %>