<%
  @page_actions = []
  
  if can? :create_message, @active_project
    @page_actions << {:title => :add_message, :url=> new_message_path(:active_project => @active_project.id)}
  end

  if can? :create_task_list, @active_project
    @page_actions << {:title => :add_task_list, :url=> new_task_list_path(:active_project => @active_project.id)}
  end
  
  if can? :create_milestone, @active_project
    @page_actions << {:title => :add_milestone, :url=> new_milestone_path(:active_project => @active_project.id)}
  end

  if can? :create_file, @active_project
    @page_actions << {:title => :add_file, :url=> new_file_path(:active_project => @active_project.id)}
  end
%>
<% if @active_project.description.chop and @active_project.show_description_in_overview %>
<div class="hint">
  <div class="header"><%= h @active_project.name %></div>
  <div class="content"><%= textilize @active_project.description %></div>
</div>
<% end %>

<% if @late_milestones.length > 0 or !@calendar_milestones.empty? %>
<div id="lateOrTodayMilestones" class="block">
  <div class="header"><%= t('milestones_summary', :adjetives => [!@late_milestones.empty? ? t('late') : nil,
                           !@calendar_milestones.empty? ? t('upcoming') : nil].compact.to_sentence) %></div>
<% if @late_milestones.length > 0 %>
  <h2><%= t('late_milestones') %></h2>
  <ul>
<% @late_milestones.each do |milestone| %>
    <li><% unless milestone.assigned_to.nil? %><%= h milestone.assigned_to.object_name %>: <% end %><%= t('milestone_in', :milestone => link_to(h(milestone.name), milestone_path(:id => milestone.id, :active_project => milestone.project)), :project => link_to(h(milestone.project.name), project_path(:id => milestone.project.id))) %> (<span class="error"><%= t('milestone_days_late', :days => milestone.days_late) %></span>)</li>
<% end %>
  </ul>
<% end %>

<% unless @calendar_milestones.empty? %>
<h2><%= t('due_in_next_n_days', :num => 14) %></h2>
  <%= now = @time_now.to_date
      prev_month = now.month
      days_calendar now, now + 13.days, 'dayCal' do |date|
        if date == now
          calendar_block(t('today'), @calendar_milestones["#{date.month}-#{date.day}"], 'today', true) 
        else
          if date.month != prev_month 
            prev_month = date.month
            calendar_block(l(date, :format => '%b %d'), @calendar_milestones["#{date.month}-#{date.day}"], 'day')
          else
            calendar_block(date.day, @calendar_milestones["#{date.month}-#{date.day}"], 'day') 
          end
        end
      end %>
<% end %>

</div>
<% end %>

<h2><%= t('recent_activities') %></h2>
<% cache "user#{@logged_user.id}_#{@active_project.id}_dblog" do %>
<% if @project_log_entries.length > 0 %>
<table class="applicationLogs blank">
  <tr>
    <th></th>
    <th><%= t('details') %></th>
    <th class="right"><%= t('log_date') %></th>
  </tr>
	<%= render :partial => 'layouts/application_logs', :collection => @project_log_entries, :locals => {:show_project_column => false} %>
</table>
<% else %>
<%= t('no_recent_activities') %>
<% end %>
<% end %>
