<%= error_messages_for :file %>

<% if @file.new_record? %>
  <div class="hint">
    <div class="content">
      <div id="selectFileControl">
        <label for="fileFormFile"><%= t('file') %>: <span class="label_required">*</span></label>
        <input type="file" id="fileFormFile" name="file_data[file]"/>
      </div>
      <div id="selectFolderControl">
        <label for="fileFormFolder"><%= t('folder') %>: <span class="label_required">*</span></label>
        <%= select 'file', 'folder_id', Folder.select_list(@active_project), {}, {:id => 'fileFormFolder'} %>
      </div>
      <p><%= t('file_upload_info', :max => format_size(Rails.configuration.max_upload_size)) %></p>
    </div>
  </div>
<% else %>
  <div class="hint">
    <div class="header"><%= check_box_tag 'file_data[updated_file]', '1', false, :class => 'checkbox', :id => 'fileFormUpdateFile', :onclick => "file_form_select_update()" %><label for="fileFormUpdateFile" class="checkbox"><%= t('update_file') %></label></div>
    <div class="content">
      <div id="updateFileDescription">
        <p><%= t('file_update_info') %></p>
      </div>
      <div id="updateFileForm">
        <p><strong><%= t('existing_file') %>:</strong> <a href="<%= @file.download_url %>"><%= h @file.filename %></a> | <%= format_size @file.file_size %></p>
        
        <div>
          <label for="fileFormFile"><%= t('new_file') %>: </label>
          <input type="file" id="fileFormFile" name="file_data[file]"/>
        </div>
        
        <div id="revisionControls">
          <div>
            <%= check_box_tag 'file_data[version_file_change]', '1', false, :class => 'checkbox', :id => 'fileFormVersionChange', :onclick => "file_form_select_revision()" %><label for="fileFormVersionChange" class="checkbox"><%= t('new_revision') %></label>
          </div>
          <div id="fileFormRevisionCommentBlock">
            <label for="fileFormRevisionComment"><%= t('revision_comment') %>:</label>
            <%= text_area_tag 'file_data[revision_comment]', '', :id => 'fileFormRevisionComment', :class => 'short' %>
          </div>
        </div>
      </div>
      
      <script type="text/javascript">
        file_form_select_update();
        file_form_select_revision();
      </script>
      
    </div>
  </div>
<% end %>

  <fieldset>
    <label for="fileFormDescription"><%= t('description') %>:</label>
    <%= text_area 'file', 'description', :id => 'fileFormDescription', :class => 'short', :rows => 10, :cols => 40 %>
  </fieldset>
  
<% if @logged_user.member_of_owner? %>
  <fieldset>
    <legend><%= t('options') %></legend>
    
    <div class="objectOption">
      <div class="optionLabel"><label><%= t('private_file') %>:</label></div>
      <div class="optionControl"><%= yesno_toggle 'file', 'is_private', :class => 'yes_no', :id => 'fileFormIsPrivate' %></div>
      <div class="optionDesc"><%= t('private_file_info') %></div>
    </div>
    
    <div class="objectOption">
      <div class="optionLabel"><label><%= t('important_file') %>:</label></div>
      <div class="optionControl"><%= yesno_toggle 'file', 'is_important', :class => 'yes_no', :id => 'fileFormIsImportant' %></div>
      <div class="optionDesc"><%= t('important_file_info') %></div>
    </div>
    
    <div class="objectOption">
    <div class="optionLabel"><label><%= t('enable_comments') %>:</label></div>
    <div class="optionControl"><%= yesno_toggle 'file', 'comments_enabled', :class => 'yes_no', :id => 'fileFormEnableComments' %></div>
    <div class="optionDesc"><%= t('enable_comments_info') %></div>
  </div>
<% if Rails.configuration.allow_anonymous %>  
  <div class="objectOption">
    <div class="optionLabel"><label><%= t('enable_anonymous_comments') %>:</label></div>
    <div class="optionControl"><%= yesno_toggle 'file', 'anonymous_comments_enabled', :class => 'yes_no', :id => 'fileFormEnableAnonymousComments' %></div>
    <div class="optionDesc"><%= t('enable_anonymous_comments_info') %></div>
  </div>
<% end %>
  </fieldset>
<% end %>
  <fieldset>
    <legend><%= t('tags') %></legend>
    <%= text_field 'file', 'tags', :id => 'fileFormTags', :class => 'long' %><br /><span class="desc"><%= t('tags_info') %></span>
  </fieldset>
