<%= error_messages_for :file %>

<% if @file.new_record? %>
  <div class="hint">
    <div class="content">
      <div id="selectFileControl">
        <label for="fileFormFile"><%= :file.l %>: <span class="label_required">*</span></label>
        <input type="file" id="fileFormFile" name="file_data[file]"/>
      </div>
      <div id="selectFolderControl">
        <label for="fileFormFolder"><%= :folder.l %>: <span class="label_required">*</span></label>
        <%= select 'file', 'folder_id', ProjectFolder.select_list(@active_project), {}, {:id => 'fileFormFolder'} %>
      </div>
      <p><%= :file_upload_info.l_with_args(:max => format_size(Rails.configuration.max_upload_size)) %></p>
    </div>
  </div>
<% else %>
  <div class="hint">
    <div class="header"><%= check_box_tag 'file_data[updated_file]', '1', false, :class => 'checkbox', :id => 'fileFormUpdateFile', :onclick => "file_form_select_update()" %><label for="fileFormUpdateFile" class="checkbox"><%= :update_file.l %></label></div>
    <div class="content">
      <div id="updateFileDescription">
        <p><%= :file_update_info.l %></p>
      </div>
      <div id="updateFileForm">
        <p><strong><%= :existing_file.l %>:</strong> <a href="<%= @file.download_url %>"><%= h @file.filename %></a> | <%= format_size @file.file_size %></p>
        
        <div>
          <label for="fileFormFile"><%= :new_file.l %>: </label>
          <input type="file" id="fileFormFile" name="file_data[file]"/>
        </div>
        
        <div id="revisionControls">
          <div>
            <%= check_box_tag 'file_data[version_file_change]', '1', false, :class => 'checkbox', :id => 'fileFormVersionChange', :onclick => "file_form_select_revision()" %><label for="fileFormVersionChange" class="checkbox"><%= :new_revision.l %></label>
          </div>
          <div id="fileFormRevisionCommentBlock">
            <label for="fileFormRevisionComment"><%= :revision_comment.l %>:</label>
            <%= text_area_tag 'file_data[revision_comment]', '', :id => 'fileFormRevisionComment', :class => 'short' %>
          </div>
        </div>
      </div>
      
      <script type="text/javascript">
        file_form_select_update();
        file_form_select_revision();
      </script>
      
    </div>
  </div>
<% end %>

  <fieldset>
    <label for="fileFormDescription"><%= :description.l %>:</label>
    <%= text_area 'file', 'description', :id => 'fileFormDescription', :class => 'short', :rows => 10, :cols => 40 %>
  </fieldset>
  
<% if @logged_user.member_of_owner? %>
  <fieldset>
    <legend><%= :options.l %></legend>
    
    <div class="objectOption">
      <div class="optionLabel"><label><%= :private_file.l %>:</label></div>
      <div class="optionControl"><%= yesno_toggle 'file', 'is_private', :class => 'yes_no', :id => 'fileFormIsPrivate' %></div>
      <div class="optionDesc"><%= :private_file_info.l %></div>
    </div>
    
    <div class="objectOption">
      <div class="optionLabel"><label><%= :important_file.l %>:</label></div>
      <div class="optionControl"><%= yesno_toggle 'file', 'is_important', :class => 'yes_no', :id => 'fileFormIsImportant' %></div>
      <div class="optionDesc"><%= :important_file_info.l %></div>
    </div>
    
    <div class="objectOption">
    <div class="optionLabel"><label><%= :enable_comments.l %>:</label></div>
    <div class="optionControl"><%= yesno_toggle 'file', 'comments_enabled', :class => 'yes_no', :id => 'fileFormEnableComments' %></div>
    <div class="optionDesc"><%= :enable_comments_info.l %></div>
  </div>
<% if Rails.configuration.allow_anonymous %>  
  <div class="objectOption">
    <div class="optionLabel"><label><%= :enable_anonymous_comments.l %>:</label></div>
    <div class="optionControl"><%= yesno_toggle 'file', 'anonymous_comments_enabled', :class => 'yes_no', :id => 'fileFormEnableAnonymousComments' %></div>
    <div class="optionDesc"><%= :enable_anonymous_comments_info.l %></div>
  </div>
<% end %>
  </fieldset>
<% end %>
  <fieldset>
    <legend><%= :tags.l %></legend>
    <%= text_field 'file', 'tags', :id => 'fileFormTags', :class => 'long' %><br /><span class="desc"><%= :tags_info.l %></span>
  </fieldset>
