<% if !attached_files.empty? or (!dont_add and can?(:add_file, attached_files_object)) %>
<div class="objectFiles">
  <ul>
<% attached_files.each do |attached_file| -%>
    <li>
      <a href="<%= attached_file.download_url %>"><span><%= h attached_file.filename %></span> (<%= format_size attached_file.file_size %>)</a> | <%= action_list actions_for_attached_files(attached_file, attached_files_object) %>
    </li>
<% end %>
  </ul>
<% if !dont_add and can?(:add_file, attached_files_object) %>
  <p>&raquo; <%= link_to t('attach_files'), attach_file_path(:object_type => attached_files_object.class.to_s , :object_id => attached_files_object.id) %></p>
<% end %>
</div>
<% end %>
