<%= form_tag({:object_id => @attach_object.id, :object_type => @attach_object.class.to_s}, :method => :put, :multipart => true) %>

  <div class="hint"><%= :hint_attach_files.l_with_args(:link => "<a href=\"#{@attach_object.object_url}\">#{h(@attach_object.object_name)}</a>") %></div>
  <div>
  	<%= radio_button_tag 'attach[what]', 'existing_file', true, {:id => 'attachFormExistingFile', :class => 'checkbox', :onclick => 'file_form_attach_update_action()'} %> <label for="attachFormExistingFile" class="checkbox"><%= :attach_existing_file.l %></label>
  </div>
  
  <div id="attachFormExistingFileControls">
    <fieldset>
      <legend><%= :select_file.l %></legend>
      <%= select_tag 'attach[file_id]', options_for_select(select_file_options(@active_project, @attach_object)), {:id => 'attachFormSelectFile', :style => 'width: 300px'} %>
    </fieldset>
  </div>
  
  <div>
  	<%= radio_button_tag 'attach[what]', 'new_file', true, {:id => 'attachFormNewFile', :class => 'checkbox', :onclick => 'file_form_attach_update_action()'} %> <label for="attachFormNewFile" class="checkbox"><%= :upload_attach_to_message.l %></label>
  </div>
  
  <div id="attachFormNewFileControls">
    <%= render :partial => 'files/attach_file' %>
  </div>
  
  <script type="text/javascript">
    file_form_attach_update_action();
    file_form_attach_init(<%= Rails.configuration.max_attachments %>);
  </script>
  
  <button class="submit" type="submit"><%= :attach_files.l %></button>
  
</form>
