<%
  @page_actions = []
  
  if can? :create_file, @active_project
    if @folder.nil?
      @page_actions << {:title => :add_file, :url => new_file_path}
    else
      @page_actions << {:title => :add_file, :url => new_file_path(:folder_id => @folder.id)}
    end
  end

  if can? :create_folder, @active_project
    @page_actions << {:title => :add_folder, :url => new_folder_path}
  end
%>
<% if @files.empty? %>

<p><%= t('no_files_in_location') %></p>

<% else %>

<div id="files">

<%= render :partial => 'files/order_and_pagination', :locals => {:order => @order, :page => @page, :pagination => @pagination} %>

<% @files.each do |group_by, grouped_files| -%>
<h2><%= Time === group_by ? format_usertime(group_by, "grouped_files_date_format#{'_with_year' unless group_by.year == Date.today.year}") : group_by.upcase %></h2>
<div class="filesList">
<% grouped_files.each do |file| -%>
  <div class="listedFile <%= cycle('odd', 'even') %>">
<% if file.is_private %>
    <div class="private" title="<%= t('private_file') %>"><span><%= t('private_file') %></span></div>
<% end %>
    <div class="fileIcon"><img src="<%= file.filetype_icon_url %>" alt="<%= h file.filename %>" /></div>
    <div class="fileInfo">
      <div class="fileName"><a href="<%= file.download_url %>" title="<%= t('file_view_details') %>"><%= h file.filename %></a></div>

<% last_revision = file.last_revision %> 
<% unless last_revision.nil? %>     
      <div class="fileLastRevision">
<% if !last_revision.created_by.nil? %>
		<%= t('revision_created_by', :number => last_revision.revision_number,
		                                     :user => "<a href=\"#{last_revision.created_by.object_url}\">#{h last_revision.created_by.display_name}</a>",
		                                     :date => format_usertime(last_revision.created_on, :revision_date_format_short)) %>
<% else %>
		<%= t('revision_created_by', :number => last_revision.revision_number,
		                                     :date => format_usertime(last_revision.created_on, :revision_date_format_short)) %>
<% end %>
      </div>
<% end %>
<% if file.description %>
      <div class="fileDescription"><%= textilize file.description %></div>
<% end %>
      <div class="fileDetails">
      <% if !file.created_by.nil? %>
      <span><%= t('created_by') %>:</span> <a href="<%= file.created_by.object_url %>"><%= h file.created_by.display_name %></a> | 
      <% end %>
      <span><a href="<%= file.object_url %>#objectComments"><%= t('comments') %></a>:</span> <%= file.comments.length %> | <span><a href="<%= file.object_url %>#revisions"><%= t('revisions') %></a>:</span> <%= file.project_file_revisions.length %>
      </div>
      <div class="fileTags"><%= t('tags') %>: <%= tag_list file %></div>
      <div class="fileOptions"><%= action_list actions_for_file(file, last_revision) %></div>
    </div>
  </div>
<% end %>
</div>
<% end %>

<%= render :partial => 'files/order_and_pagination', :locals => {:order => @order, :page => @page, :pagination => @pagination} %>

</div>

<% end %>
