<div class="card">
  <div class="cardIcon"><img src="<%= card.logo_url %>" alt="<%= h card.name %> logo" /></div>
  <div class="cardData">
  
    <h2><%= h card.name %></h2>
    
    <div class="cardBlock">
      <div><span><%= :email_address.l %>:</span> <a href="mailto:<%= card.email %>"><%= card.email %></a></div>
      <div><span><%= :phone_number.l %>:</span> <%= (not (card.phone_number.nil? or card.phone_number.empty?)) ? h(card.phone_number) : "N/A" %></div>
      <div><span><%= :fax_number.l %>:</span> <%= (not (card.fax_number.nil? or card.fax_number.empty?)) ? h(card.fax_number) : "N/A" %></div>
<% if card.homepage.nil? or card.homepage.empty? %>
      <div><span><%= :homepage.l %>:</span> <%= "N/A" %></div>
<% else %>
      <div><span><%= :homepage.l %>:</span> <a href="<%= h card.homepage %>"><%= h card.homepage %></a></div>
<% end %>
    </div>
    

    <% if !card.address.nil? or !(card.city.nil? and card.state.nil?) %>
    <h2><%= :address.l %></h2>
    
    <div class="cardBlock">
<% if !card.address.nil? and !card.address.empty? %><%= h card.address %><% end %>
<% if !card.address2.nil? and !card.address2.empty? %><br /><%= h card.address2 %><% end %>
<% if !card.city.nil? and !card.city.empty? and !card.state.nil? and !card.state.empty? %>
<br /><%= h card.city %>, <%= h card.state %> <% if !card.zipcode.nil? and !card.zipcode.empty? %><%= h card.zipcode %><% end %><% end %>
<% if !card.country.nil? and !card.country.empty? %><br /><%= h card.country %><% end %>
    </div>
    <% end %>
  
  </div>
</div>
