<div class="card">
  <div class="cardIcon"><img src="<%= company_card.logo_url %>" alt="<%= h company_card.name %> logo" /></div>
  <div class="cardData">
  
    <h2><%= h company_card.name %></h2>
    
    <div class="cardBlock">
      <div><span><%= :email_address.l %>:</span> <a href="mailto:<%= company_card.email %>"><%= company_card.email %></a></div>
      <div><span><%= :phone_number.l %>:</span> <%= (not (company_card.phone_number.nil? or company_card.phone_number.empty?)) ? h(company_card.phone_number) : "N/A" %></div>
      <div><span><%= :fax_number.l %>:</span> <%= (not (company_card.fax_number.nil? or company_card.fax_number.empty?)) ? h(company_card.fax_number) : "N/A" %></div>
<% if company_card.homepage.nil? or company_card.homepage.empty? %>
      <div><span><%= :homepage.l %>:</span> <%= "N/A" %></div>
<% else %>
      <div><span><%= :homepage.l %>:</span> <a href="<%= h company_card.homepage %>"><%= h company_card.homepage %></a></div>
<% end %>
    </div>
    

    <% if !company_card.address.nil? or !(company_card.city.nil? and company_card.state.nil?) %>
    <h2><%= :address.l %></h2>
    
    <div class="cardBlock">
<% if !company_card.address.nil? and !company_card.address.empty? %><%= h company_card.address %><% end %>
<% if !company_card.address2.nil? and !company_card.address2.empty? %><br /><%= h company_card.address2 %><% end %>
<% if !company_card.city.nil? and !company_card.city.empty? and !company_card.state.nil? and !company_card.state.empty? %>
<br /><%= h company_card.city %>, <%= h company_card.state %> <% if !company_card.zipcode.nil? and !company_card.zipcode.empty? %><%= h company_card.zipcode %><% end %><% end %>
<% if !company_card.country.nil? and !company_card.country.empty? %><br /><%= h company_card.country %><% end %>
    </div>
    <% end %>
  
  </div>
</div>
