<%= form_tag company_path(:id => @company.id), :method => :put %>
<%= render :partial => 'form' %>
    <button class="submit" type="submit"><%= t('edit_company') %></button>
</form>

<%= form_tag(logo_company_path(:id => @company.id), :method => :put, :multipart => true) %>
  <fieldset>
    <legend><%= t('current_logo') %></legend>
<% if @company.has_logo? %>
    <img src="<%= @company.logo_url %>" alt="<%= h @company.name %> logo" />
    <p><%= link_to t('delete_current_logo'), logo_company_path(:id => @company.id), {:onclick => t('current_logo_confirm_delete'), :method => :delete} %></p>
<% else %>
    <%= t('logo_not_uploaded') %>
<% end %>
  </fieldset>
  
  <div>
    <label for="logoFormLogo"><%= t('new_logo') %>: <span class="label_required">*</span></label>
    <div id="logoFormLogo"><input type="file" name="company[logo]" /></div>
<% if @company.has_logo? %>
    <p class="desc"><%= t('logo_replace_info') %></p>
<% end %>
  </div>
  
    <button class="submit" type="submit"><%= t('update_logo') %></button>
</form>
