<% if @projects.length > 0 %>
<div id="companyPermissions">
  <div class="hint">
    <div class="header"><%= t('hint') %></div>
    <div class="content"><%= t('hint_permissions_info') %></div>
  </div>
  <%= form_tag permissions_company_path(:id => @company.id), :method => :put %>
    <table class="blank">
<% @projects.each do |project| -%>
      <tr>
        <td><%= check_box_tag "project[]", project.id.to_s, @company.is_part_of(project), {:id => "projectPermissionsCheckbox#{project.id}", :disabled => !@logged_user.member_of(project)} %>
        </td>
        <td>
          <label for="<%= "projectPermissionsCheckbox#{project.id}" %>" class="checkbox normal">
<% if !project.is_active? %>
          <del><span title="<%= t('project_completed_on', :date => format_usertime(project.completed_on, :project_created_format), :user => h(project.completed_by.display_name)) %>"><%= h project.name %></span></del>
<% else %>
          <%= h project.name %>
<% end %>
          </label>
        </td>
      </tr>
<% end %>
    </table>
    
    <button class="submit" type="submit"><%= t('update_permissions') %></button>
  </form>
</div>
<% end %>
