<%= form_tag user_password_path(@user), :method => :put do %>
<%= error_messages_for :user %>
  <input type="hidden" name="confirm" value="<%= h params[:confirm] %>"/>
  <div>
    <label for="passwordFormNewPassword"><%= t('password') %> <span class="label_required">*</span></label>
    <input type="password" id="passwordFormNewPassword" name="user[password]" />
  </div>
  
  <div>
    <label for="passwordFormNewPasswordAgain"><%= t('repeat_password') %> <span class="label_required">*</span></label>
    <input type="password" id="passwordFormNewPasswordAgain" name="user[password_confirmation]" />
  </div>
  
  <div id="buttonSubmit">
  <button class="submit" type="submit" accesskey="s"><%= @initial_signup ? t('set_password') : t('reset_password') %></button>
  </div>
<% end %>
