<div class="time block">

<% if view_time.is_private %>
    <div class="private" title="<%= :private_time.l %>"><span><%= :private_time.l %></span></div>
<% end %>

<% if view_time.is_billable %>
    <div class="billable" title="<%= :billable_time.l %>"><span><%= :billable_time.l %></span></div>
<% end %>

    <div class="header">
<% if !view_time.assigned_to.nil? %>
        <span class="assignedTo"><%= h view_time.assigned_to.object_name %>:</span>
<% end %>
      <a href="<%= view_time.object_url %>"><%= h view_time.name %></a>
    </div>
    <div class="content">
<% if view_time.done_date.year == Time.now.year %>
      <div class="doneDate"><span><%= "Done date" %>:</span> <%= format_usertime(view_time.done_date, "%A, %d %B") %></div>
<% else %>
      <div class="doneDate"><span><%= "Done date" %>:</span> <%= format_usertime(view_time.done_date, "%b %d. %Y") %></div>
<% end %>
      <div class="hours"><span><%= "Hours" %>:</span> <%= view_time.hours %></div>
      
      <div class="description"><% if !view_time.open_task.nil? %><p><%= link_to (view_time.open_task.text, view_time.open_task.object_url) %></p><% end %><%= textilize view_time.description %></div>

      <div class="timeOptions"><%= action_list actions_for_time_short(view_time) %></div>
    </div>
    
</div>
