<%
  @page_actions = []
  
  if can? :create_time, @active_project
    @page_actions << {:title => :add_time, :url => new_time_path}
  end
  
  @page_actions << {:title => :sort_by_finished_date, :url => "#{times_path}?orderBy=done_date"}
  @page_actions << {:title => :sort_by_hours, :url => "#{times_path}?orderBy=hours"}
  @page_actions << {:title => :report_by_task, :url => "#{by_task_times_path}?orderBy=hours"}
%>

<% if not @tasks.empty? %>
<div id="time">

<% @tasks.each do |list| -%>

<% total_time = list[:tasks].inject(0) { |total, task| total + task[:hours] } %>
<% total_billable_time = list[:tasks].inject(0) { |total, task| total + task[:billable_hours] } %>
<% total_estimated_time = list[:tasks].inject(0) { |total, task| total + (task[:task].estimated_hours || 0) } %>

<% if total_time > 0 %>
<div class="timeTaskList">
<h2><%= t('task_list_hours', :name => h(list[:list].object_name), :hours => total_time) %> <%= t('billable_hours', :hours => total_time) if total_billable_time > 0 %> <%= t('task_estimated_hours', :hours => total_estimated_time) if total_estimated_time > 0 %></h2>
<h4><%= t('task_list_hours_info') %></h4>

<% list[:tasks].each do |task_info| -%>
<% task = task_info[:task] %>
<h4><span><img src="/assets/logtypes/tasks.gif" alt="task" title="task" /> </span><%= t('task_list_task_hours', :name => h(task.object_name), :hours => task_info[:hours]) %> <%= t('billable_hours', :hours => task_info[:billable_hours]) if task_info[:billable_hours] > 0 %> <%= t('task_estimated_hours', :hours => task.estimated_hours) if task.estimated_hours && task.estimated_hours > 0 %></h4>

<table class="timeLogs blank"><tr><th><%= t('log_date') %></th><th><%= t('name') %></th><th><%= t('details') %></th><th><%= t('hours') %></th></tr>
<% task_info[:times].each do |time| -%>
  <tr>
    <td class="timeDate">
<% if time.running? -%>
      <%= t('time_running') %>
<% else -%>
      <%= format_usertime(time.done_date, "done_date_format#{'_with_year' if time.done_date.year != Time.now.year}") %>
<% end -%>
    </td>
    <td class="timeUser">
<% if time.assigned_to.nil? %>
      	???
<% else %>
        <%= h time.assigned_to.object_name %>
<% end %>
    </td>
    <td class="timeDetails">
	    <%= h time.name %>
    </td>
    <td class="timeHours">
      <%= '*' if time.is_billable %>
<% if time.running? -%>
      <%= seconds_to_time Time.now - time.start_date %>
<% else -%>
      <%= time.hours %>
<% end -%>
    </td>
  </tr>
<% end %>
</table>

<% end %>

</div>
<% end %>

<% end %>
</div>
<% else %>
<p><%= t('no_times_in_project') %></p>
<% end %>
