<%
  @page_title = t('tags')
  @bread_crumbs = project_crumbs(@tag_name, [{:title => :search, :url => search_project_path(:id => @active_project.id)}])
%>

<% if @tagged_objects_count > 0 %>
<p><%= t('objects_tagged_with', {:count => @tagged_objects_count, :tag => h(@tag_name)}).html_safe %>:</p>

<% if not @tagged_objects[:messages].empty? %>
<h2><%= t('messages') %></h2>
<ul>
<% @tagged_objects[:messages].each do |message| -%>
  <li><a href="<%= message.object_url %>"><%= h message.object_name %></a>
<% if !message.created_by.nil? %>
  <span class="desc">- <%= format_usertime(message.created_on, :message_created_format) %> | <%= link_to (h message.created_by.display_name), user_path(:id => message.created_by.id) %></span>
<% end %>
  </li>
<% end %>
</ul>
<% end %>

<% if not @tagged_objects[:milestones].empty? %>
<h2><%= t('milestones') %></h2>
<ul>
<% @tagged_objects[:milestones].each do |milestone| -%>
  <li>
    <a href="<%= milestone.object_url %>"><%= h milestone.object_name %></a>
<% if !milestone.assigned_to.nil? %>
    <span class="desc">- <%= t('milestone_assigned_to', {:name => h(milestone.assigned_to.object_name)}) %></span>
<% end %>
<% if milestone.is_completed? %>
    <%= render_icon 'ok', "Completed milestone" %>
<% end %>
  </li>
<% end %>
</ul>
<% end %>

<% if not @tagged_objects[:task_lists].empty? %>
<h2><%= t('task_lists') %></h2>
<ul>
<% @tagged_objects[:task_lists].each do |task_list| -%>
  <li>
    <a href="<%= task_list.object_url %>"><%= h task_list.object_name %></a>
<% if task_list.is_completed? %>
    <%= render_icon 'ok', "Completed task list" %>
<% end %>
  </li>
<% end %>
</ul>
<% end %>

<% if not @tagged_objects[:files].empty? %>
<h2><%= t('files') %></h2>
<ul>
<% @tagged_objects[:files].each do |file| -%>
  <li><a href="<%= file.object_url%>"><%= h file.filename %></a> <span class="desc">(<%= format_size file.file_size %>)</span></li>
<% end %>
</ul>
<% end %>

<% else %>
<p><%= t('no_objects_tagged_with', {:tag => h(@tag_name)}).html_safe %></p>
<% end %>
