<%= error_messages_for :task_list %>

  <div>
    <label for="taskListFormName"><%= :name.l %>: <span class="label_required">*</span></label>
    <%= text_field 'task_list', 'name', :id => 'taskListFormName', :class => 'long' %>
  </div>
  
  <div>
    <label for="taskListPriority"><%= :priority.l %>: <span class="label_required">*</span></label>
    <%= text_field 'task_list', 'priority', :id => 'taskListPriority', :class => 'long' %>
  </div>
  
  <div>
    <label for="taskListFormDescription"><%= :description.l %>: </label>
    <%= text_area 'task_list', 'description', :id => 'taskListFormDescription', :class => 'short', :rows => 10, :cols => 40 %>
  </div>
  
  <div class="formBlock">
    <label for="taskListFormMilestone"><%= :milestone.l %>: </label>
    <%= select 'task_list', 'milestone_id', select_milestone_options(@active_project), {}, {:class => 'select_milestone', :id => 'taskListFormMilestone'} %>
  </div>
  
<% if @logged_user.member_of_owner? %>
  <div class="formBlock">
    <label for="taskListFormIsPrivate"><%= :is_private_list.l %>: <span class="desc"><%= :is_private_list_info.l %></span></label>
    <%= yesno_toggle 'task_list', 'is_private', :id => 'taskListFormIsPrivate', :class => 'yes_no'  %>
  </div>
<% end %>
  
  <div class="formBlock">
     <label for="taskListFormTags"><%= :tags.l %>:</label>
     <%= text_field 'task_list', 'tags', :id => 'taskListFormTags', :class => 'long' %><br /><span class="desc"><%=:tags_info.l %></span>
  </div>
