<% if @open_task_lists.length > 0 %>
<div class="sidebarBlock">
  <h2><%= :open_task_lists.l %></h2>
  <div class="blockContent">
    <ul class="listWithDetails">
<% @open_task_lists.each do |task_list| %><%= task_list.project_tasks.map {|t| "#{t.class}-#{t.id}#{t.text}"}.join(',') + "[#{task_list.project_tasks.length}]" %>
      <li><%= link_to (h task_list.name), task_list_path(:id => task_list.id) %><br /><span class="desc">(<%= :num_tasks_open_in_task_list.l_with_args(:num => task_list.open_tasks.length, :total => task_list.project_tasks.length ) %>)</span></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>

<% if @completed_task_lists.length > 0%>
<div class="sidebarBlock">
  <h2><%= :completed_task_lists.l %></h2>
  <div class="blockContent">
    <ul class="listWithDetails">
<% @completed_task_lists.each do |task_list| %>
      <li><%= link_to (h task_list.name), task_list_path(:id => task_list.id) %><br /><span class="desc">(<%= :task_list_completed_time_with_user.l_with_args(
                     :time => format_usertime(task_list.completed_on, :task_list_completed_time_format),
                     :user => link_to_unless(task_list.completed_by.nil?, h(task_list.completed_by.try(:display_name)), user_path(:id => task_list.completed_by_id))) %>)</span></li>
<% end %>
    </ul>
  </div>
</div>
<% end %>
