<% task_list = show %>

<div class="taskList" id="list_<%= task_list.id %>">
<div class="block">
<% if task_list.is_private? %>
    <div class="private" title="<%= :private_task_list.l %>"><span><%= :private_task_list.l %></span></div>
<% end %>
  <div class="header"><%= link_to (h task_list.name), task_list_path(:id => task_list.id) %></div>
<% if task_list.description %>
  <div class="desc"><%= textilize task_list.description %></div>
<% end %>
  <div class="openTasks">
    <ul class="taskItems" id="openTasksList<%= task_list.id %>">
<% if task_list.open_tasks.length > 0 %>
    <%= render :partial => 'tasks/show', :collection => task_list.open_tasks, :locals => {:tprefix => "openTasksList#{task_list.id}"} %>
<% end %>
    </ul>
  </div>

<% if task_list.can_be_changed_by(@logged_user) %>
<%  show_form = @new_list.nil? ? false : true %>
  <div class="addTask">
    <div class="newTask" <% if show_form %>style="display:none;"<% end %>><%= link_to :add_task.l, new_task_path(:task_list_id => task_list.id) %></div>
    <div class="inner" <% unless show_form %>style="display: none;"<% end %>>
      <% form_tag tasks_path(:task_list_id => task_list.id) do %>
        <%= render :partial => 'tasks/form', :object => ProjectTask.new(:task_list => task_list) %>
        <div><button class="submit" type="submit"><%= :add_task.l %></button> <%= :or.l %> <a class="cancel" href="#"><%= :cancel.l %></a></div>
      <% end %>
    </div>
  </div>
<% end %>

  <div class="completedTasks">
<% if on_list_page %>
<%= :completed_tasks.l %>:
<% else %>
<%= :recent_completed_tasks.l %>:
<% end %>
    <ul class="taskItems">
    <%= render :partial => 'tasks/show', :collection => (!on_list_page ? task_list.completed_tasks.last(5).reverse : task_list.completed_tasks), :locals => {:tprefix => "openTasksList#{task_list.id}"} %>
<% if !on_list_page and task_list.completed_tasks.length > 5 %>
      <li>
        <%= link_to :view_all_completed_tasks.l, :controller => 'task_lists', :action => 'show', :id => task_list.id %>
      </li>
<% end %>
    </ul>
  </div>
  <div class="taskListTags"><span><%= :tags.l %>:</span> <%= tag_list task_list %></div>

<div class="options">
<%= action_list actions_for_task_list(task_list) %><a style="display: none;" class="doEditTaskList" href="#"><%= :edit_tasks.l %></a>
</div>

</div>
</div>
