- if application_logs.is_today?
  %tr{class: application_logs.time_class}
    %td.logTypeIcon
      %img{alt: application_logs.rel_object_type, src: "/assets/logtypes/#{application_logs.rel_object_type.downcase}s.gif", title: application_logs.rel_object_type }/
    %td.logDetails
      %span
        - if not ['Comment', 'Message'].include?(application_logs.rel_object_type)
          %b
            = application_logs.friendly_action
            \:
        - if application_logs.rel_object.nil? 
          = h(truncate(application_logs.object_name, length: 50))
        - else 
          = link_to(h(truncate(application_logs.object_name, length: 50)), application_logs.rel_object.object_url)
      - if show_project_column
        %br/
        %span.desc
          - if application_logs.is_today?
            = t('action_today_with_time', time: format_usertime(application_logs.created_on, :action_today_fomat))
          - elsif application_logs.is_yesterday?
            = t('action_yesterday')
          - else
            = format_usertime(application_logs.created_on, :action_past_format)
          - if not application_logs.created_by.nil?
            , #{link_to (h application_logs.created_by.display_name), user_path(id: application_logs.created_by.id)}
    - if show_project_column
      %td.logProject
        - if not application_logs.project.nil?
          = link_to (h application_logs.project.name), project_path(id: application_logs.project.id)
    - else
      %td.logTakenOnBy
        - if application_logs.is_today?
          = t('action_today_with_time', time: format_usertime(application_logs.created_on, :action_today_fomat)).html_safe
        - elsif application_logs.is_yesterday?
          = t('action_yesterday')
        - else
          = format_usertime(application_logs.created_on, :action_past_format)
        - if not application_logs.created_by.nil?
          = t('action_by', user: link_to(h(application_logs.created_by.display_name), user_path(id: application_logs.created_by.id))).html_safe
