<div id="userbox">
<% if user.is_anonymous? %>
  <%= t('welcome_anonymous') %> (<%= link_to(t('login'), logout_path) %>),
<% else %>
  <%= t('welcome_back', :user => h(user.display_name)).html_safe %> (<%= link_to t('logout'), logout_path, :confirm => t('are_you_sure_logout') %>)
<% end %>
  <div id="running_times_count" style="display:<%= @running_times.empty? ? 'none' : 'block' %>;">
  <span><%= t('running_times', :count => @running_times.size) %></span> <%= render_icon 'bullet_drop_down', '', :id => 'running_times', :class => 'PopupMenuWidgetAttachTo', :title => 'Enable javascript' %>
  </div>
  <ul>
    <% unless user.is_anonymous? %>
    <li><%= link_to t('account'), @logged_user %> <%= render_icon 'bullet_drop_down', '', :id => 'account_more', :class => 'PopupMenuWidgetAttachTo', :title => 'Enable javascript' %></li>
    <% end %>
<% unless projects.blank? %>
    <li><%= link_to t('projects'), :controller => 'dashboard', :action => 'my_projects' %> <%= render_icon 'bullet_drop_down', '', :id => 'projects_more', :class => 'PopupMenuWidgetAttachTo', :title => 'Enable javascript' %></li>
<% end %>
<% if user.is_admin %>
    <li><%= link_to t('administration'), :controller => 'administration' %> <%= render_icon 'bullet_drop_down', '', :id => 'administration_more', :class => 'PopupMenuWidgetAttachTo', :title => 'Enable javascript' %></li>
<% end %>
  </ul>

  <% unless user.is_anonymous? %>  
  <div class="PopupMenuWidgetDiv" id="account_more_menu" style="display:none">
    <p><%= t('account') %>:</p>
    <ul>
      <li><%= link_to t('edit_profile'), edit_user_path(:id => user.id) %></li>
      <li><%= link_to t('update_avatar'), avatar_user_path(:id => user.id) %></li>
    </ul>
    <p><%= t('userbox_more') %></p>
    <ul>
      <li><%= link_to t('my_projects'), :controller => 'dashboard', :action => 'my_projects' %></li>
      <li><%= link_to t('my_tasks'), :controller => 'dashboard', :action => 'my_tasks' %></li>
    </ul>
  </div>
  <% end %>
  
<% unless projects.blank? %>
  <div class="PopupMenuWidgetDiv" id="projects_more_menu"  style="display:none">
    <p><%= t('projects') %>:</p>
    <ul>
<% projects.each do |project| -%>
      <li><%= link_to h(project.name), project_path(:id => project.id) %></li>
<% end %>
    </ul>
  </div>
<% end %>
  
<% if user.is_admin %>
  <div class="PopupMenuWidgetDiv" id="administration_more_menu"  style="display:none">
    <p><%= t('administration') %>:</p>
    <ul>
      <li><%= link_to t('company'), Company.owner %></li>
      <li><%= link_to t('members'), companies_path %></li>
      <li><%= link_to t('projects'), projects_path %></li>
    </ul>
  </div>
<% end %>

  <div class="PopupMenuWidgetDiv" id="running_times_menu" style="display:none">
    <ul>
	  <%= render :partial => 'times/listed', :collection => @running_times %>
    </ul>
  </div>
</div>
