<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="csrf-token" content="<%= form_authenticity_token %>" />
    <meta name="csrf-param" content="authenticity_token" />
    <title><%= "#{h(page_title)} @ #{h(Company.owner.name)}" %></title>
    <%= stylesheet_link_tag 'company_website' %>
<% additional_stylesheets.each do |ss| -%>
    <%= stylesheet_link_tag ss %>
<% end unless additional_stylesheets.nil? -%>
    <%= javascript_importmap_tags %>
    <%= javascript_tag "var LOGGED_USER_ID=#{@logged_user.id};" %>
<!-- head needs to go here? -->
  </head>
  <body id="body">
    <div id="wrapper">
    
      <!-- header -->
      <div id="headerWrapper">
        <div id="header">
          <h1><%= link_to site_name, :controller => 'dashboard' %></h1>
          <div id="userboxWrapper"><%= render :partial => 'layouts/user_box', :locals => {:user => @logged_user, :projects => @active_projects, :running_times => @running_times} %></div>
        </div>
      </div>
      <!-- /header -->

      <%= render :partial => 'layouts/tabs', :object => dashboard_tabbed_navigation %>
            
      <div id="crumbsWrapper">
        <div id="crumbsBlock">
          <%= render :partial => 'layouts/crumbs', :object => dashboard_crumbs %>
          
          <% if Rails.configuration.railscollab.search_enabled %>
          <div id="searchBox">
            <%= form_tag :controller => 'dashboard', :action => 'search' %>
              <div>
<%
  @search_field_default_value = t('search_box_default')
  @last_search ||= @search_field_default_value
  @search_field_attrs = {
    :onfocus => "if (event.target.value == '#{@search_field_default_value}') event.target.value=''",
    :onblur => "if (event.target.value == '#{@search_field_default_value}') event.target.value=''"
  }
%>
                <%= text_field_tag 'search_id', (h @last_search), @search_field_attrs %><button type="submit"><%= t('go') %></button>
              </div>
            </form>
          </div>
          <% end %>
        </div>
      </div>
      
      <!-- content wrapper -->
      <div id="outerContentWrapper">
        <div id="innerContentWrapper">
<% if flash[:message] %>
          <div id="<%= flash[:error] ? 'error' : 'success' %>" class="StatusMessage <%= flash[:error] ? 'flash_error' : 'flash_success' %>"><%= h flash[:message] %></div>
<% end %>
          <h1 id="pageTitle"><%= h page_title %></h1>
          <div id="pageContent">
            <div id="content" <%= @content_for_sidebar.nil? ? '' : 'class=\'sidebar\'' %>>
              <%= render :partial => 'layouts/actions' unless page_actions.nil? %>
              <!-- Content -->
              <%= yield %>
              <!-- /Content -->
            </div>
<% unless @content_for_sidebar.nil? %>
            <div id="sidebar"><%= render :partial => @content_for_sidebar %></div>
<% end %>
            <div class="clear"></div>
          </div>
        </div>
        
        <!--Footer -->
        <%= render :partial => 'layouts/footer' %>
      </div>
      <!-- /content wrapper -->
      
    </div>
  </body>
</html>
